<div class="content-heading">
  Stock Reservations
  <a [routerLink]="'/share/sales/transactions/stock-reservations/create'" class="btn btn-primary btn-sm pull-right" type="button">Add Stock Reservations</a>
</div>

<p-table #dt [value]="cars" [columns]="cols" selectionMode="single" [(selection)]="selectedCars" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">
    <div style="text-align: right">        
        <i class="fa fa-search" style="margin:4px 4px 14px 0"></i>
        <input type="text" pInputText size="40" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
    <div class="ui-helper-clearfix">
        <button type="button" class="mb-sm btn btn-sm btn-green" pButton (click)="dt.exportCSV()" style="float:left">Export All</button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th style="width : 5%">#</th>
          <th>Stock Reservation No</th>
          <th>Warehouse</th>
          <th>Expiry Date</th>
          <th>Status</th>
          <th>Reserved By</th>
      </tr>
      <tr>
        <th><input pInputText class="form-control" type="text" (input)="dt.filter($event.target.value, 'id', 'contains')"></th>
        <th><input pInputText class="form-control" type="text" (input)="dt.filter($event.target.value, 'stock_reservation_no', 'contains')"></th>
        <th><input pInputText class="form-control" type="text" (input)="dt.filter($event.target.value, 'warehouse', 'contains')"></th>
        <th><input pInputText class="form-control" type="text" (input)="dt.filter($event.target.value, 'expiry_date', 'contains')"></th>
        <th><input pInputText class="form-control" type="text" (input)="dt.filter($event.target.value, 'status', 'contains')"></th>
        <th><input pInputText class="form-control" type="text" (input)="dt.filter($event.target.value, 'reserved_by', 'contains')"></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
              {{rowData[col.field]}}
          </td>
      </tr>
  </ng-template>
</p-table>