<div class="content-heading">Warehouse
  <a [routerLink]="'/share/stock/masters/warehouse/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
<!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
<div class="row">
    <div class="col-md-12">
        <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-body">
                    <fieldset class="b0">
                        <legend>Add</legend>
                    </fieldset>
                    <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" formControlName="name" [formControl]="valForm.controls['name']" />
                                    <span class="text-danger" *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">This field is required</span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group mb">
                                <label class="col-sm-2 control-label">Account</label>
                                <div class="col-sm-10">
                                    <ng-select formControlName="account" [formControl]="valForm.controls['account']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Account Selected">
                                    </ng-select>
                                    <span class="text-danger" *ngIf="valForm.controls['account'].hasError('required') && (valForm.controls[account].dirty || valForm.controls['account'].touched)">This field is required</span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-10">
                                    <div class="panel">
                                        <div class="panel-body mh0">
                                            <textarea class="form-control note-editor" formControlName="address" [formControl]="valForm.controls['addreess']" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                          <div class="form-group">
                              <label class="col-sm-2 control-label">Contact Person</label>
                              <div class="col-sm-10">
                                  <input class="form-control" formControlName="contact_person" [formControl]="valForm.controls['contact_person']" type="text"  />
                              </div>
                          </div>
                      </fieldset>
                      <fieldset>
                          <div class="form-group">
                              <label class="col-sm-2 control-label">Contact Number</label>
                              <div class="col-sm-10">
                                  <input class="form-control" type="text" formControlName="contact_number" [formControl]="valForm.controls['contact_person']" />
                              </div>
                          </div>
                      </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Additional Notes</label>
                                <div class="col-sm-10">
                                    <div class="panel">
                                        <div class="panel-body mh0">
                                            <textarea class="form-control note-editor" rows="5" formControlName="notes" [formControl]="valForm.controls['notes']"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>         
                </div>
                <div class="panel-footer text-center">
                  <button class="btn btn-info" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>