<div class="content-heading">Sales Invoice
  <a [routerLink]="'/share/accounts/transactions/sales-invoices/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <p-panel header="Sales Invoice Details" [toggleable]="true">
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Invoice No Auto Generate</label>
                    <br/>
                    <label class="checkbox-inline c-checkbox">
                      <input type="checkbox" value="true" formControlName="invoice_no_auto_generate" [formControl]="valForm.controls['invoice_no_auto_generate']"
                      />
                      <span class="fa fa-check"></span>
                    </label>
                  </div>
                  <div class="col-xs-3">
                    <label>Numbering Series</label>
                    <ng-select formControlName="numbering_series" [formControl]="valForm.controls['numbering_series']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No Numbering Series Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Invoice Type</label>
                    <ng-select formControlName="invoice_type" [formControl]="valForm.controls['invoice_type']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No Invoice Type Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Customer</label>
                    <ng-select formControlName="customer" [formControl]="valForm.controls['customer']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                      (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Customer Selected">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Invoice Date</label>
                    <input class="form-control" type="date" formControlName="invoice_date" [formControl]="valForm.controls['invoice_date']" />
                    <span class="text-danger" *ngIf="valForm.controls['invoice_date'].hasError('invoice_date') && (valForm.controls['invoice_date'].dirty || valForm.controls['invoice_date'].touched)">Enter a valid date</span>
                  </div>
                  <div class="col-xs-3">
                    <label> Project Name</label>
                    <ng-select formControlName="project_name" [formControl]="valForm.controls['project_name']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No Project Name Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Customer Reference</label>
                    <input class="form-control" type="customer_reference" formControlName="customer_reference" [formControl]="valForm.controls['customer_reference']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['customer_reference'].hasError('required') && (valForm.controls['customer_reference'].dirty || valForm.controls['customer_reference'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Due Date</label>
                    <input class="form-control" type="date" formControlName="invoice_date" [formControl]="valForm.controls['invoice_date']" />
                    <span class="text-danger" *ngIf="valForm.controls['invoice_date'].hasError('invoice_date') && (valForm.controls['invoice_date'].dirty || valForm.controls['invoice_date'].touched)">Enter a valid date</span>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Sales Person</label>
                    <ng-select formControlName="sales_person" [formControl]="valForm.controls['sales_person']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No Sales Person Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Territory</label>
                    <ng-select formControlName="territory" [formControl]="valForm.controls['territory']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No Territory Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Receivable Account</label>
                    <ng-select formControlName="receivable_account" [formControl]="valForm.controls['receivable_account']" [allowClear]="true"
                      [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)"
                      (typed)="typed($event)" placeholder="No Receivable Account Selected">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-6">
                    <label>Billing Address</label>
                    <textarea class="form-control note-editor" formControlName="billing_address" [formControl]="valForm.controls['billing_address']"
                      rows="4"></textarea>
                  </div>
                  <div class="col-xs-3">
                    <label>Customer State</label>
                    <ng-select formControlName="customer_state" [formControl]="valForm.controls['customer_state']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No Customer State Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Customer GST Registration Type</label>
                    <ng-select formControlName="customer_gst_registration_type" [formControl]="valForm.controls['customer_gst_registration_type']"
                      [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)"
                      (typed)="typed($event)" placeholder="No Type Selected">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Customer GSTIN</label>
                    <input class="form-control" type="customer_gstin" formControlName="customer_gstin" [formControl]="valForm.controls['customer_gstin']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['customer_gstin'].hasError('required') && (valForm.controls['customer_gstin'].dirty || valForm.controls['customer_gstin'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Currency</label>
                    <ng-select formControlName="currency" [formControl]="valForm.controls['currency']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                      (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Currency Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Default Tab</label>
                    <ng-select formControlName="default_tax" [formControl]="valForm.controls['default_tax']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No Default Tab Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Remarks</label>
                    <textarea class="form-control note-editor" formControlName="remarks" [formControl]="valForm.controls['remarks']" rows="4"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </p-panel>
        <p-panel header="Additional Details" [toggleable]="true">
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Order No</label>
                    <input class="form-control" type="order_no" formControlName="order_no" [formControl]="valForm.controls['order_no']" />
                    <span class="text-danger" *ngIf="valForm.controls['order_no'].hasError('required') && (valForm.controls['order_no'].dirty || valForm.controls['order_no'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Order Date</label>
                    <input class="form-control" type="date" formControlName="invoice_date" [formControl]="valForm.controls['invoice_date']" />
                    <span class="text-danger" *ngIf="valForm.controls['invoice_date'].hasError('invoice_date') && (valForm.controls['invoice_date'].dirty || valForm.controls['invoice_date'].touched)">Enter a valid date</span>
                  </div>
                  <div class="col-xs-3">
                    <label>PO Date</label>
                    <input class="form-control" type="date" formControlName="invoice_date" [formControl]="valForm.controls['invoice_date']" />
                    <span class="text-danger" *ngIf="valForm.controls['invoice_date'].hasError('invoice_date') && (valForm.controls['invoice_date'].dirty || valForm.controls['invoice_date'].touched)">Enter a valid date</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Delivery Note No</label>
                    <input class="form-control" type="delivery_note_no" formControlName="order_no" [formControl]="valForm.controls['delivery_note_no']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['delivery_note_no'].hasError('required') && (valForm.controls['delivery_note_no'].dirty || valForm.controls['delivery_note_no'].touched)">This field is required</span>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Delivery Note Date</label>
                    <input class="form-control" type="date" formControlName="invoice_date" [formControl]="valForm.controls['invoice_date']" />
                    <span class="text-danger" *ngIf="valForm.controls['invoice_date'].hasError('invoice_date') && (valForm.controls['invoice_date'].dirty || valForm.controls['invoice_date'].touched)">Enter a valid date</span>
                  </div>
                  <div class="col-xs-3">
                    <label>LR No</label>
                    <input class="form-control" type="lr_no" formControlName="lr_no" [formControl]="valForm.controls['lr_no']" />
                    <span class="text-danger" *ngIf="valForm.controls['lr_no'].hasError('required') && (valForm.controls['lr_no'].dirty || valForm.controls['lr_no'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Despatch Document No</label>
                    <input class="form-control" type="despatch_document_no" formControlName="despatch_document_no" [formControl]="valForm.controls['despatch_document_no']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['despatch_document_no'].hasError('required') && (valForm.controls['despatch_document_no'].dirty || valForm.controls['despatch_document_no'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-3">
                    <label> Documents Through</label>
                    <input class="form-control" type="documents_through" formControlName="documents_through" [formControl]="valForm.controls['documents_through']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['documents_through'].hasError('required') && (valForm.controls['documents_through'].dirty || valForm.controls['documents_through'].touched)">This field is required</span>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label> Despatch Through</label>
                    <input class="form-control" type="despatch_through" formControlName="despatch_through" [formControl]="valForm.controls['despatch_through']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['despatch_through'].hasError('required') && (valForm.controls['despatch_through'].dirty || valForm.controls['despatch_through'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Vehicle No</label>
                    <input class="form-control" type="vehicle_no" formControlName="vehicle_no" [formControl]="valForm.controls['vehicle_no']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['vehicle_no'].hasError('required') && (valForm.controls['vehicle_no'].dirty || valForm.controls['vehicle_no'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Destination</label>
                    <input class="form-control" type="destination" formControlName="destination" [formControl]="valForm.controls['destination']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['destination'].hasError('required') && (valForm.controls['destination'].dirty || valForm.controls['destination'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Payment Terms</label>
                    <input class="form-control" type="payment_terms" formControlName="payment_terms" [formControl]="valForm.controls['payment_terms']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['payment_terms'].hasError('required') && (valForm.controls['payment_terms'].dirty || valForm.controls['payment_terms'].touched)">This field is required</span>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </p-panel>
        <p-panel header="Consignee Details" [toggleable]="true">
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Consignee</label>
                    <ng-select formControlName="consignee" [formControl]="valForm.controls['consignee']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No consignee Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Contact Person</label>
                    <ng-select formControlName="contact_person" [formControl]="valForm.controls['contact_person']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No Contact Person Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Email</label>
                    <input class="form-control" type="email" formControlName="email" [formControl]="valForm.controls['email']" />
                    <span class="text-danger" *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Phone</label>
                    <input class="form-control" type="phone" formControlName="phone" [formControl]="valForm.controls['phone']" />
                    <span class="text-danger" *ngIf="valForm.controls['phone'].hasError('required') && (valForm.controls['phone'].dirty || valForm.controls['phone'].touched)">This field is required</span>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Mobile</label>
                    <input class="form-control" type="mobile" formControlName="mobile" [formControl]="valForm.controls['mobile']" />
                    <span class="text-danger" *ngIf="valForm.controls['mobile'].hasError('required') && (valForm.controls['mobile'].dirty || valForm.controls['mobile'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-6">
                    <label>Delivery Address</label>
                    <textarea class="form-control note-editor" formControlName="delivery_address" [formControl]="valForm.controls['delivery_address']"
                      rows="4"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Consignee State</label>
                    <ng-select formControlName="consignee_state" [formControl]="valForm.controls['consignee_state']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No Consignee State Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Consignee GST Registration Type</label>
                    <ng-select formControlName="consignee_gst_registration_type" [formControl]="valForm.controls['consignee_gst_registration_type']"
                      [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)"
                      (typed)="typed($event)" placeholder="No Type Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Consignee GSTIN</label>
                    <input class="form-control" type="consignee_gstin" formControlName="consignee_gstin" [formControl]="valForm.controls['consignee_gstin']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['consignee_gstin'].hasError('required') && (valForm.controls['consignee_gstin'].dirty || valForm.controls['consignee_gstin'].touched)">This field is required</span>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </p-panel>
        <div class="panel-footer text-center">
          <button class="btn btn-info" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
