<div class="content-heading">Edit Contacts
    <small>Contacts Form : name</small>
  </div>
  <div class="container-fluid">
  <div class="row">
        <div class="col-md-12">
              <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                    <div class="panel-body">
                          <fieldset class="b0">
                                <legend>Contact Details</legend>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>Title</label>
                                                        <select class="form-control" name="title">
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                              <option>Option 4</option>
                                                        </select>
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Name</label>
                                                        <input class="form-control" type="text" placeholder="Name..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Designation</label>   
                                                        <input class="form-control" type="text" placeholder="Designation..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Organization</label>   
                                                        <input class="form-control" type="email" placeholder="Organization..." />
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">
                                      <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                      <label>Email</label>   
                                                      <input class="form-control" type="email" placeholder="Email..." />
                                                </div>
                                                  <div class="col-xs-3">
                                                        <label>Phone</label>
                                                        <input class="form-control" type="text" placeholder="Phone..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Mobile</label>
                                                        <input class="form-control" type="text" placeholder="Mobile..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Source</label>   
                                                        <select class="form-control" name="title">
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                              <option>Option 4</option>
                                                        </select>
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                          <fieldset>
                              <div class="form-group">
                                    <div class="col-sm-12">
                                          <div class="row">
                                              <div class="col-xs-3">
                                                      <label>Territory</label>   
                                                      <select class="form-control" name="title">
                                                            <option>Option 1</option>
                                                            <option>Option 2</option>
                                                            <option>Option 3</option>
                                                            <option>Option 4</option>
                                                      </select>
                                                </div>                                                
                                                <div class="col-xs-3">
                                                      <label>Additional Notes</label>   
                                                      <textarea class="form-control" rows="2" id="additional_notes"></textarea>
                                                </div>
                                                <div class="col-xs-6">                                                
                                                    <div class="checkbox c-checkbox checkbox-inline">
                                                          <label>
                                                                <input id="partner_customer" type="checkbox" value="customer" />
                                                                <span class="fa fa-check"></span>Is Active</label>
                                                    </div>
                                                </div>
                                          </div>                                    
                                    </div>
                              </div>
                        </fieldset>
                    </div>  
                    <div class="panel-footer text-center">
                          <button class="btn btn-info" type="submit">Save</button>
                    </div>
              </div>
              <!-- END panel-->
              </form>
        </div>
  </div>
  <!-- END row-->
  
  </div>