<div class="content-heading">Financial Years
    <a [routerLink]="'/share/accounts/masters/financial-years/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
    <!-- <small>Native Angular input validation</small> -->
  </div>
  <!-- START row-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
          <!-- START panel-->
          <div class="panel panel-default">
            <div class="panel-body">
              <fieldset class="b0">
                <legend>Financial Year</legend>
              </fieldset>
              <fieldset>
                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-xs-3">
                        <label>Name</label>
                        <input class="form-control" type="text" formControlName="name" [formControl]="valForm.controls['name']" />
                        <span class="text-danger" *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">This field is required</span>
                      </div>
                      <div class="col-xs-3">
                        <label>Start Date</label>
                        <input class="form-control" type="date" formControlName="start_date" [formControl]="valForm.controls['start_date']" />
                        <span class="text-danger" *ngIf="valForm.controls['start_date'].hasError('start_date') && (valForm.controls['start_date'].dirty || valForm.controls['effective_date'].touched)">Enter a valid date</span>
                      </div>
                      <div class="col-xs-3">
                        <label>End Date</label>
                        <input class="form-control" type="date" formControlName="end_date" [formControl]="valForm.controls['end_date']" />
                        <span class="text-danger" *ngIf="valForm.controls['end_date'].hasError('end_date') && (valForm.controls['end_date'].dirty || valForm.controls['effective_date'].touched)">Enter a valid date</span>
                      </div>
                      <div class="col-xs-3">
                        <label>Closing Balances</label>
                        <ng-select formControlName="closing_balances" [formControl]="valForm.controls['closing_balances']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Currency Name Selected">
                        </ng-select>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="panel-footer text-center">
              <button class="btn btn-info" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  