<div class="content-heading">Edit Competative Quote
    <small>Competative Quote : </small>
  </div>
  <div class="container-fluid">
  <div class="row">
        <div class="col-md-12">
              <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                    <div class="panel-body">                        
                          <fieldset class="b0">
                                <legend>Competative Quote Details</legend>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">                              
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>Order No</label>
                                                        <input class="form-control" type="text" placeholder="Order No..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Customer</label>   
                                                        <input class="form-control" type="text" placeholder="Customer..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Company</label>
                                                        <input class="form-control" type="text" placeholder="Company..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Return Date</label>   
                                                        <input class="form-control" type="text" placeholder="Return Date..." />
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                          <fieldset>
                              <div class="form-group">                              
                                    <div class="col-sm-12">
                                          <div class="row">                                                
                                                <div class="col-xs-3">                                                
                                                    <div class="checkbox c-checkbox checkbox-inline">
                                                          <label>
                                                                <input id="partner_customer" type="checkbox" value="customer" />
                                                                <span class="fa fa-check"></span>Issue Credit Note</label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <label>Reason</label>   
                                                    <textarea class="form-control" rows="2" id="additional_notes"></textarea>
                                                </div>
                                          </div>                                    
                                    </div>
                              </div>
                          </fieldset>
                          <fieldset class="b0">
                                <legend>Sales Return Item Details</legend>
                          </fieldset>
                    </div>
  
  
                    <div class="panel-footer text-center">
                          <button class="btn btn-info" type="submit">Save</button>
                    </div>
              </div>
              <!-- END panel-->
              </form>
        </div>
  </div>
  <!-- END row-->
  
  </div>