<div class="content-heading">Edit Leave Credits & Adjustments
    <small>Leave Credits : New</small>
  </div>
  <div class="container-fluid">
  <div class="row">
        <div class="col-md-12">
              <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                    <div class="panel-body">                        
                          <fieldset class="b0">
                                <legend>Leave Credits Details</legend>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">                              
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>Transaction Date</label>
                                                        <input class="form-control" type="text" placeholder="Transaction Date..." />
                                                  </div>  
                                                  <div class="col-xs-3">
                                                        <label>Employee</label>
                                                        <input class="form-control" type="text" placeholder="Employee..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Leave Type</label>
                                                        <input class="form-control" type="text" placeholder="Leave Type..." />
                                                  </div>  
                                                  <div class="col-xs-3">
                                                        <label>Type</label>
                                                        <select class="form-control" name="currency">
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                              <option>Option 4</option>
                                                        </select>
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>                        
                          <fieldset>
                            <div class="form-group">                              
                                  <div class="col-sm-12">
                                        <div class="row">
                                              <div class="col-xs-3">
                                                    <label>Add or Deduct</label>
                                                    <select class="form-control" name="currency">
                                                          <option>Option 1</option>
                                                          <option>Option 2</option>
                                                          <option>Option 3</option>
                                                          <option>Option 4</option>
                                                    </select>                                                    
                                              </div>
                                              <div class="col-xs-3">
                                                    <label>No of Leaves</label>
                                                    <input class="form-control" type="text" placeholder="No of Leaves..." />
                                              </div>                                              
                                              <div class="col-xs-3">
                                                  <label>Remarks</label>   
                                                  <textarea class="form-control" rows="2" id="additional_notes"></textarea>
                                              </div>                                              
                                        </div>                                    
                                  </div>
                            </div>
                        </fieldset>
                    </div>
  
  
                    <div class="panel-footer text-center">
                          <button class="btn btn-info" type="submit">Save</button>
                    </div>
              </div>
              <!-- END panel-->
              </form>
        </div>
  </div>
  <!-- END row-->
  
  </div>