<div class="content-heading">Stock Transfers
  <a [routerLink]="'/share/stock/transaction/stock-transfers/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <div class="panel panel-default">
          <div class="panel-body">
            <p-panel header="Stock Transfer Details">
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Transfer Date</label>
                    <div class="col-sm-12 ">
                      <p-calendar formControlName="transfer_date" [formControl]="valForm.controls['transfer_date']" showButtonBar="true"></p-calendar>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Source Warehouse</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="src_warehouse" [formControl]="valForm.controls['src_warehouse']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Reason Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Destination Warehouse</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="dest_warehouse" [formControl]="valForm.controls['dest_warehouse']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Reason Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Dispatch Date</label>
                    <div class="col-sm-12 ">
                      <p-calendar formControlName="dispatch_date" [formControl]="valForm.controls['dispatch_date']" showButtonBar="true"></p-calendar>

                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Receipt Date</label>
                    <div class="col-sm-12 ">
                      <p-calendar formControlName="receipt_date" [formControl]="valForm.controls['receipt_date']" showButtonBar="true"></p-calendar>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Remarks</label>
                    <div class="col-sm-12">
                      <div class="panel">
                        <div class="panel-body mh0">
                          <textarea class="form-control note-editor" formControlName="remarks" [formControl]="valForm.controls['remarks']" rows="5"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </fieldset>
            </p-panel>
            <br/>
            <p-panel header="Item Details">

            </p-panel>
            <br/>

            <p-panel header="Forms to Issue / Receive">
            </p-panel>


            <!--
              <fieldset>
                <div class="form-group-mb">
                  <div formArrayName="salesItem"></div>
                  <div *ngFor="let order of orderForm.controls.salesItem.controls; let i=index">
                    <div>
                      <span>Item {{i + 1}}</span>
                      <span *ngIf="orderForm.controls.salesItem.controls.length > 1">
                        <a (click)="removeLink(i)">
                          <button type="button">
                            <i class="fa fa-trash"></i>
                          </button>
                        </a>
                      </span>
                    </div>
  
                    <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
            <!-- <div [formGroupName]="i">
                      <div class="form-group mb">
                        <label class="col-sm-12 control-label" style="text-align:left;">Item Name</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control" formControlName="item_name" [formControl]="valForm.controls['item_name']">
                        </div>
                      </div>
                      <div class="form-group mb">
                        <label class="col-sm-12 control-label" style="text-align:left;">Description</label>
                        <div class="col-sm-12">
                          <textarea class="form-control note-editor" formControlName="item_description" [formControl]="valForm.controls['item_description']"
                            rows="5"></textarea>
                        </div>
                      </div>
                      <div class="form-group mb">
                        <label class="col-sm-12 control-label" style="text-align:left;">Quantity</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control" formControlName="quantity" [formControl]="valForm.controls['quantity']">
                        </div>
                      </div>
                      <div class="form-group mb">
                        <label class="col-sm-12 control-label" style="text-align:left;">UOM</label>
                        <div class="col-sm-12">
                          <ng-select formControlName="uom" [formControl]="valForm.controls['uom']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                            (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Numbering Series Selected">
                          </ng-select>
                          <span class="text-danger" *ngIf="valForm.controls['uom'].hasError('required') && (valForm.controls['uom'].dirty || valForm.controls['uom'].touched)">This field is required</span>
                        </div>
                      </div>
                      <div class="form-group mb">
                        <label class="col-sm-12 control-label" style="text-align:left;">Warehouse</label>
                        <div class="col-sm-12">
                          <ng-select formControlName="warehouse" [formControl]="valForm.controls['warehouse']" [allowClear]="true" [items]="items"
                            (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                            placeholder="No Numbering Series Selected">
                          </ng-select>
                        </div>
                      </div>
                      <div class="form-group mb">
                        <label class="col-sm-12 control-label" style="text-align:left;">Display Group</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control" formControlName="display_group" [formControl]="valForm.controls['display_group']">
                        </div>
                      </div>
                      <div class="form-group mb">
                        <label class="col-sm-12 control-label" style="text-align:left;">Remarks</label>
                        <div class="col-sm-12">
                          <textarea class="form-control note-editor" formControlName="remarks" [formControl]="valForm.controls['remarks']" rows="5"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <a (click)="addLink()">
                      <button type="button" class="btn btn-xs">
                        <i class="fa fa-plus"></i>
                      </button>
                    </a>
                  </div>
                </div>
              </fieldset>
              <fieldset class="b0">
                <legend>Forms to Issue / Receive</legend>
              </fieldset> -->

          </div>
          <div class="panel-footer text-center">
            <button class="btn btn-info" type="button">Cancel</button>
            <button class="btn btn-success" type="submit">Submit</button>
            <button class="btn btn-success" type="button">Save</button>
            <button class="btn btn-success" type="button">Approve</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
