<div class="content-heading">
  Sales Returns
  <a [routerLink]="'/share/sales/transactions/sales-returns/create'" class="btn btn-primary btn-sm pull-right" type="button">Add Sales Returns</a>
</div>

<p-table #dt [value]="cars" [columns]="cols" selectionMode="single" [(selection)]="selectedCars" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">
    <div style="text-align: right">        
        <i class="fa fa-search" style="margin:4px 4px 14px 0"></i>
        <input type="text" pInputText size="40" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
    <div class="ui-helper-clearfix">
        <button type="button" class="mb-sm btn btn-sm btn-green" pButton (click)="dt.exportCSV()" style="float:left">Export All</button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th style="width : 5%">#</th>
          <th>Customer</th>
          <th>Order ID</th>
          <th>Sales Return No</th>
          <th>Sales Return Date</th>
          <th>Status</th>
          <th>Received Percent</th>
          <th>Credit Percent</th>
      </tr>
      <tr>
        <th><input pInputText class="form-control" type="text" (input)="dt.filter($event.target.value, 'id', 'contains')"></th>
        <th><input pInputText class="form-control" type="text" (input)="dt.filter($event.target.value, 'customer', 'contains')"></th>
        <th><input pInputText class="form-control" type="text" (input)="dt.filter($event.target.value, 'order_id', 'contains')"></th>
        <th><input pInputText class="form-control" type="text" (input)="dt.filter($event.target.value, 'sales_return_no', 'contains')"></th>
        <th><input pInputText class="form-control" type="text" (input)="dt.filter($event.target.value, 'sales_return_date', 'contains')"></th>
        <th><input pInputText class="form-control" type="text" (input)="dt.filter($event.target.value, 'status', 'contains')"></th>
        <th><input pInputText class="form-control" type="text" (input)="dt.filter($event.target.value, 'received_percent', 'contains')"></th>
        <th><input pInputText class="form-control" type="text" (input)="dt.filter($event.target.value, 'credit_percent', 'contains')"></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
              {{rowData[col.field]}}
          </td>
      </tr>
  </ng-template>
</p-table>