<div class="content-heading">Item Batches :
  <a [routerLink]="'/share/stock/masters/item-batches/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <div class="panel panel-default">
          <div class="panel-body">
            <p-panel header="Item Batches Details">
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">Batch Name</label>
                    <div class="col-sm-10">
                      <input class="form-control" type="text" formControlName="batch_name" [formControl]="valForm.controls['batch_name']" />
                      <span class="text-danger" *ngIf="valForm.controls['batch_name'].hasError('required') && (valForm.controls['batch_name'].dirty || valForm.controls['batch_name'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">Description</label>
                    <div class="col-sm-12">
                      <div class="panel">
                        <div class="panel-body mh0">
                          <textarea formControlName="description" [formControl]="valForm.controls['description']" class="form-control note-editor"
                            rows="5"></textarea>
                          <span class="text-danger" *ngIf="valForm.controls['description'].hasError('required') && (valForm.controls['description'].dirty || valForm.controls['description'].touched)">This field is required</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left">Item</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="item_name" [formControl]="valForm.controls['item_name']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Account Selected">
                      </ng-select>
                      <span class="text-danger" *ngIf="valForm.controls['item_name'].hasError('required') && (valForm.controls['item_name'].dirty || valForm.controls['item_name'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left">Expiry Date</label>
                    <p-calendar formControlName="expdate" [formControl]="valForm.controls['expdate']" showButtonBar="true"></p-calendar>
                    <!-- <pre class="card card-block card-header col-sm-5">Selected date is: <em *ngIf="dt">{{ getDate() | date:'fullDate'}}</em></pre> -->
                  </div>
                </div>
              </fieldset>
            </p-panel>

          </div>
          <div class="panel-footer text-center">
            <button class="btn btn-info" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
