<div class="content-heading">Create Supplier Quotation
  <small>Supplier Quotation : New</small>
</div>
<div class="container-fluid">
<div class="row">
      <div class="col-md-12">
            <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
            <!-- START panel-->
            <div class="panel panel-default">
                  <div class="panel-body">                        
                    <fieldset class="b0">
                          <legend>Supplier Quotation Details</legend>
                    </fieldset>
                    <fieldset>
                          <div class="form-group">                              
                                <div class="col-sm-12">
                                      <div class="row">
                                        <div class="col-xs-3">
                                              <label>RFQ No</label>
                                              <input class="form-control" type="text" placeholder="RFQ No..." />
                                        </div>
                                        <div class="col-xs-3">
                                              <label>Supplier</label>
                                              <input class="form-control" type="text" placeholder="Supplier..." />
                                        </div>
                                        <div class="col-xs-3">
                                              <label>Quote Date</label>
                                              <input class="form-control" type="text" placeholder="Quote Date..." />
                                        </div>
                                        <div class="col-xs-3">
                                              <label>Supplier Reference No</label>
                                              <input class="form-control" type="text" placeholder="Supplier Reference No..." />
                                        </div>
                                      </div>
                                </div>
                          </div>
                    </fieldset>
                    <fieldset>
                          <div class="form-group">                              
                                <div class="col-sm-12">
                                      <div class="row">                                             
                                            <div class="col-xs-3">
                                                  <label>Contact Person</label>
                                                  <select class="form-control" name="currency">
                                                        <option>Option 1</option>
                                                        <option>Option 2</option>
                                                        <option>Option 3</option>
                                                        <option>Option 4</option>
                                                  </select>
                                            </div> 
                                            <div class="col-xs-3">
                                                  <label>Email</label>
                                                  <input class="form-control" type="text" placeholder="Email..." />
                                            </div>
                                            <div class="col-xs-3">
                                                  <label>Phone</label>
                                                  <input class="form-control" type="text" placeholder="Phone..." />
                                            </div>
                                            <div class="col-xs-3">
                                                  <label>Mobile</label>
                                                  <input class="form-control" type="text" placeholder="Mobile..." />
                                            </div>
                                      </div>                                    
                                </div>
                          </div>
                    </fieldset>
                    <fieldset>
                          <div class="form-group">                              
                                <div class="col-sm-12">
                                      <div class="row">
                                            <div class="col-xs-3">
                                                  <label>Delivery Date</label>
                                                  <input class="form-control" type="text" placeholder="Delivery Date..." />
                                            </div>  
                                            <div class="col-xs-3">
                                                  <label>Credit Period</label>
                                                  <input class="form-control" type="text" placeholder="Credit Period..." />
                                            </div>
                                            <div class="col-xs-3">
                                                  <label>Billing Address</label>   
                                                  <textarea class="form-control" rows="2" id="additional_notes"></textarea>
                                            </div>
                                            <div class="col-xs-3">
                                                  <label>Delivery Address</label>   
                                                  <textarea class="form-control" rows="2" id="additional_notes"></textarea>
                                            </div>
                                      </div>                                    
                                </div>
                          </div>
                    </fieldset>                    
                    <fieldset>
                          <div class="form-group">                              
                                <div class="col-sm-12">
                                      <div class="row">
                                            <div class="col-xs-3">
                                                  <label>Currency</label>
                                                  <select class="form-control" name="currency">
                                                        <option>Option 1</option>
                                                        <option>Option 2</option>
                                                        <option>Option 3</option>
                                                        <option>Option 4</option>
                                                  </select>
                                            </div> 
                                            <div class="col-xs-3">
                                                  <label>Default Tax</label>
                                                  <select class="form-control" name="currency">
                                                        <option>Option 1</option>
                                                        <option>Option 2</option>
                                                        <option>Option 3</option>
                                                        <option>Option 4</option>
                                                  </select>
                                            </div> 
                                      </div>                                    
                                </div>
                          </div>
                    </fieldset>
                    <fieldset class="b0">
                          <legend>Item Details</legend>
                    </fieldset>
                    <fieldset class="b0">
                          <legend>Terms and Conditions</legend>
                    </fieldset>
                    <fieldset>
                      <div class="form-group">                              
                            <div class="col-sm-12">
                                  <div class="row">
                                        <div class="col-xs-3">
                                              <label>Terms and Conditions</label>
                                              <select class="form-control" name="currency">
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                              </select>
                                        </div>
                                  </div>                                    
                            </div>
                      </div>
                  </fieldset>                    
                </div>


                  <div class="panel-footer text-center">
                        <button class="btn btn-info" type="submit">Save</button>
                  </div>
            </div>
            <!-- END panel-->
            </form>
      </div>
</div>
<!-- END row-->

</div>