<div class="content-heading">Delivery Notes
  <a [routerLink]="'/share/stock/transaction/delivery-notes/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <div class="panel panel-default">
          <div class="panel-body">
            <p-panel header="Delivery Notes">
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Name</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="numbering_series" [formControl]="valForm.controls['numbering_series']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Numbering Series Selected">
                      </ng-select>
                      <span class="text-danger" *ngIf="valForm.controls['numbering_series'].hasError('required') && (valForm.controls['numbering_series'].dirty || valForm.controls['numbering_series'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Customer</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="customer" [formControl]="valForm.controls['customer']" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Reason</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="reason" [formControl]="valForm.controls['reason']" [allowClear]="true" [items]="reasons" (data)="refreshValue($event)"
                        (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Reason Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Warehouse</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="warehouse" [formControl]="valForm.controls['warehouse']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Reason Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="col-sm-3">
                  <label class="col-sm-12 control-label" style="text-align:left;">Delivery Date</label>
                  <div class="col-sm-12">
                    <p-calendar formControlName="delivery_date" [formControl]="valForm.controls['delivery_date']" showButtonBar="true"></p-calendar>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Sales Person</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="sales_person" [formControl]="valForm.controls['sales_person']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Code Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Territory</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="territory" [formControl]="valForm.controls['territory']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Code Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Currency</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="currency" [formControl]="valForm.controls['currency']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                        (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Code Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>

              </fieldset>

              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Customer Reference</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="customer_reference" [formControl]="valForm.controls['customer_reference']"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Payment Terms</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="payment_terms" [formControl]="valForm.controls['payment_terms']"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Delivery Address</label>
                    <div class="col-sm-12">
                      <div class="panel">
                        <div class="panel-body mh0">
                          <textarea class="form-control note-editor" formControlName="delivery_address" [formControl]="valForm.controls['delivery_address']"
                            rows="5"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Customer State</label>
                    <div class="col-sm-12">
                      <input type="text" formControlName="customer_state" [formControl]="valForm.controls['customer_state']" class="form-control"
                      />
                    </div>
                  </div>
                </div>


              </fieldset>

              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Dispatch Through</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" formControlName="dispatch_through" [formControl]="valForm.controls['dispatch_through']">
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Vehicle Number</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" formControlName="vehicle_no" [formControl]="valForm.controls['vehicle_no']">
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Remarks</label>
                    <div class="col-sm-12">
                      <div class="panel">
                        <div class="panel-body mh0">
                          <textarea class="form-control note-editor" formControlName="remarks" [formControl]="valForm.controls['remarks']" rows="5"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </fieldset>
            </p-panel>
            <br/>
            <p-panel header="Additional Details">
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Consignee</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" formControlName="consignee" [formControl]="valForm.controls['consignee']">
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Consignee State</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" formControlName="consignee_state" [formControl]="valForm.controls['consignee_state']">
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Contact Person</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" formControlName="contact_person" [formControl]="valForm.controls['contact_person']">
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Email</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" formControlName="email" [formControl]="valForm.controls['email']">
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Phone</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" formControlName="consignee_state" [formControl]="valForm.controls['consignee_state']">
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Mobile</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" formControlName="mobile" [formControl]="valForm.controls['mobile']">
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Billing Address</label>
                    <div class="col-sm-12">
                      <textarea class="form-control note-editor" formControlName="billing_address" [formControl]="valForm.controls['billing_address']"
                        rows="5"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Order No</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" formControlName="order_no" [formControl]="valForm.controls['order_no']">
                    </div>
                  </div>
                </div>

              </fieldset>

              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Order Date</label>
                    <div class="col-sm-12">
                      <p-calendar formControlName="order_date" [formControl]="valForm.controls['order_date']" showButtonBar="true"></p-calendar>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">PO Date</label>
                    <div class="col-sm-12">
                      <p-calendar formControlName="po_date" [formControl]="valForm.controls['po_date']" showButtonBar="true"></p-calendar>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Invoice Date</label>
                    <div class="col-sm-12">
                      <p-calendar formControlName="invoice_date" [formControl]="valForm.controls['invoice_date']" showButtonBar="true"></p-calendar>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Invoice No</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" formControlName="invoice_no" [formControl]="valForm.controls['invoice_no']">
                    </div>
                  </div>
                </div>

              </fieldset>
            </p-panel>
            <br/>

            <p-panel header="Item Details">
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Item Name</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" formControlName="item_name" [formControl]="valForm.controls['item_name']">
                    </div>
                  </div>

                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Description</label>
                    <div class="col-sm-12">
                      <textarea class="form-control note-editor" formControlName="item_description" [formControl]="valForm.controls['item_description']"
                        rows="5"></textarea>
                    </div>
                  </div>

                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Quantity</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" formControlName="quantity" [formControl]="valForm.controls['quantity']">
                    </div>
                  </div>

                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">UOM</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="uom" [formControl]="valForm.controls['uom']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                        (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Numbering Series Selected">
                      </ng-select>
                      <span class="text-danger" *ngIf="valForm.controls['uom'].hasError('required') && (valForm.controls['uom'].dirty || valForm.controls['uom'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Warehouse</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="warehouse" [formControl]="valForm.controls['warehouse']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Numbering Series Selected">
                      </ng-select>
                    </div>
                  </div>

                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Display Group</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" formControlName="display_group" [formControl]="valForm.controls['display_group']">
                    </div>
                  </div>

                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Remarks</label>
                    <div class="col-sm-12">
                      <textarea class="form-control note-editor" formControlName="remarks" [formControl]="valForm.controls['remarks']" rows="5"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3"></div>
              </fieldset>
            </p-panel>
            <br/>
            <p-panel header="Forms to Issue / Receive">

            </p-panel>



          </div>
          <div class="panel-footer text-center">
            <button class="btn btn-info" type="button">Cancel</button>
            <button class="btn btn-success" type="submit">Submit</button>
            <button class="btn btn-success" type="button">Save</button>
            <button class="btn btn-success" type="button">Approve</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
