<div class="content-heading">Create Customer Group
    <small>Customer Group : New</small>
  </div>
  <div class="container-fluid">
  <div class="row">
        <div class="col-md-12">
              <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                    <div class="panel-body">                          
                          <fieldset class="b0">
                                <legend>Customer Group Details</legend>
                          </fieldset>
                          <fieldset>
                              <div class="form-group">                              
                                    <div class="col-sm-12">
                                          <div class="row">
                                                <div class="col-xs-3">
                                                      <label>Name</label>
                                                      <input class="form-control" type="text" placeholder="Name..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Parent Group</label>   
                                                      <input class="form-control" type="text" placeholder="Parent Group..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Price List</label>
                                                      <select class="form-control" name="price_list">
                                                            <option>Option 1</option>
                                                            <option>Option 2</option>
                                                            <option>Option 3</option>
                                                            <option>Option 4</option>
                                                      </select>
                                                </div>                                                
                                                <div class="col-xs-3">
                                                      <label>Credit Limit</label>
                                                      <input class="form-control" type="text" placeholder="Credit Limit..." />
                                                </div>
                                          </div>                                    
                                    </div>
                              </div>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">                              
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>Credit period (Days)</label>
                                                        <input class="form-control" type="text" placeholder="Credit period (Days)..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Receivable Account</label>
                                                        <input class="form-control" type="text" placeholder="Receivable Account..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Description</label>   
                                                        <textarea class="form-control" rows="2" id="remarks"></textarea>
                                                  </div>                                                  
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                          <fieldset>
                              <div class="form-group">                              
                                    <div class="col-sm-12">
                                          <div class="row">
                                                <div class="col-xs-3">                                                        
                                                      <div class="checkbox c-checkbox checkbox-inline">
                                                          <label>
                                                                <input id="partner_customer" type="checkbox" value="skip_credit_limit" />
                                                                <span class="fa fa-check"></span>Skip Credit Limit Exception</label>
                                                    </div>
                                                </div>
                                                
                                          </div>                                    
                                    </div>
                              </div>
                        </fieldset>
                    </div>
  
  
                    <div class="panel-footer text-center">
                          <button class="btn btn-info" type="submit">Save</button>
                    </div>
              </div>
              <!-- END panel-->
              </form>
        </div>
  </div>
  <!-- END row-->
  
  </div>