<div class="content-heading">Additional Charges
  <a [routerLink]="'/share/accounts/masters/additional-charges/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <div class="panel panel-default">
          <div class="panel-body">
            <fieldset class="b0">
              <legend>Additional Charge Details </legend>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-xs-4">
                      <label>Name</label>
                      <input class="form-control" type="text" formControlName="name" [formControl]="valForm.controls['name']" />
                      <span class="text-danger" *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">This field is required</span>
                    </div>
                    <div class="col-xs-6">
                      <label>Description</label>
                      <textarea class="panel panel-body mh0 form-control note-editor" formControlName="name" [formControl]="valForm.controls['name']"
                        rows="2"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-xs-4">
                      <label>Sales Account</label>
                      <ng-select formControlName="sales_account" [formControl]="valForm.controls['sales_account']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Account Selected">
                      </ng-select>
                    </div>
                    <div class="col-xs-4">
                      <label>Purchase Account</label>
                      <ng-select formControlName="purchase_account" [formControl]="valForm.controls['purchase_account']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Account Selected">
                      </ng-select>
                    </div>
                    <div class="col-xs-4">
                      <label>Default Percentage</label>
                      <input class="form-control" type="text" formControlName="name" [formControl]="valForm.controls['name']" />
                      <span class="text-danger" *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-xs-4">
                      <label>HSN/SAC Code</label>
                      <ng-select formControlName="HSN_NAC_code" [formControl]="valForm.controls['HSN_NAC_code']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Account Selected">
                      </ng-select>
                    </div>
                    <div class="col-xs-4">
                      <label>UQC</label>
                      <ng-select formControlName="type" [formControl]="valForm.controls['type']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                        (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Type Selected">
                      </ng-select>
                    </div>
                    <div class="col-xs-4">
                      <label>Apply for Valuation</label>
                      <br/>
                      <label class="checkbox-inline c-checkbox">
                        <input type="checkbox" value="true" formControlName="is_active" [formControl]="valForm.controls['is_active']" />
                        <span class="fa fa-check"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="panel-footer text-center">
            <button class="btn btn-info" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
