<div class="content-heading">Edit Price List
    <small>Price List : edit</small>
  </div>
  <div class="container-fluid">
  <div class="row">
        <div class="col-md-12">
              <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                    <div class="panel-body">                          
                          <fieldset class="b0">
                                <legend>Price List Details</legend>
                          </fieldset>
                          <fieldset>
                              <div class="form-group">                              
                                    <div class="col-sm-12">
                                          <div class="row">
                                                <div class="col-xs-4">
                                                      <label>Name</label>
                                                      <input class="form-control" type="text" placeholder="Name..." />
                                                </div>
                                                <div class="col-xs-4">
                                                    <label>Price List</label>
                                                    <select class="form-control" name="price_list">
                                                          <option>Option 1</option>
                                                            <option>Option 2</option>
                                                            <option>Option 3</option>
                                                            <option>Option 4</option>
                                                      </select>
                                                </div>
                                                <div class="col-xs-4">
                                                      <label>Description</label>   
                                                      <input class="form-control" type="text" placeholder="Description..." />
                                                </div>
                                          </div>                                    
                                    </div>
                              </div>
                          </fieldset>
                          <fieldset>
                              <div class="form-group">                              
                                    <div class="col-sm-12">
                                          <div class="row">
                                                <div class="col-xs-3">                                                        
                                                      <div class="checkbox c-checkbox checkbox-inline">
                                                          <label>
                                                                <input id="partner_customer" type="checkbox" value="is_active" />
                                                                <span class="fa fa-check"></span>Active</label>
                                                    </div>
                                                </div>
                                                
                                          </div>                                    
                                    </div>
                              </div>
                        </fieldset>
                    </div>
  
  
                    <div class="panel-footer text-center">
                          <button class="btn btn-info" type="submit">Save</button>
                    </div>
              </div>
              <!-- END panel-->
              </form>
        </div>
  </div>
  <!-- END row-->
  
  </div>