<div class="content-heading">Receipt Vouchers
  <a [routerLink]="'/share/accounts/transactions/receipt-vouchers/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <p-panel header="Receipt Voucher Details" [toggleable]="true">
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Currency</label>
                    <ng-select formControlName="currency" [formControl]="valForm.controls['currency']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                      (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Currency Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Partner</label>
                    <ng-select formControlName="partner" [formControl]="valForm.controls['partner']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                      (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Partner Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Date</label>
                    <input class="form-control" type="date" formControlName="date" [formControl]="valForm.controls['date']" />
                    <span class="text-danger" *ngIf="valForm.controls['date'].hasError('date') && (valForm.controls['date'].dirty || valForm.controls['date'].touched)">Enter a valid date</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Contact Person</label>
                    <ng-select formControlName="contact_person" [formControl]="valForm.controls['contact_person']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No Contact Person Selected">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Email</label>
                    <input class="form-control" type="text" formControlName="email" [formControl]="valForm.controls['email']" />
                    <span class="text-danger" *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Phone</label>
                    <input class="form-control" type="text" formControlName="phone" [formControl]="valForm.controls['phone']" />
                    <span class="text-danger" *ngIf="valForm.controls['phone'].hasError('required') && (valForm.controls['phone'].dirty || valForm.controls['phone'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Mobile</label>
                    <input class="form-control" type="text" formControlName="mobile" [formControl]="valForm.controls['mobile']" />
                    <span class="text-danger" *ngIf="valForm.controls['mobile'].hasError('required') && (valForm.controls['mobile'].dirty || valForm.controls['mobile'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Mode</label>
                    <ng-select formControlName="mode" [formControl]="valForm.controls['mode']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                      (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Mode Selected">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Amount</label>
                    <input class="form-control" type="text" formControlName="amount" [formControl]="valForm.controls['amount']" />
                    <span class="text-danger" *ngIf="valForm.controls['amount'].hasError('required') && (valForm.controls['amount'].dirty || valForm.controls['amount'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Instrument No</label>
                    <input class="form-control" type="text" formControlName="instrument_no" [formControl]="valForm.controls['instrument_no']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['instrument_no'].hasError('required') && (valForm.controls['instrument_no'].dirty || valForm.controls['instrument_no'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Instrument Date</label>
                    <input class="form-control" type="date" formControlName="instrument_no" [formControl]="valForm.controls['instrument_no']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['instrument_no'].hasError('instrument_no') && (valForm.controls['instrument_no'].dirty || valForm.controls['instrument_no'].touched)">Enter a valid date</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Bank</label>
                    <ng-select formControlName="bank" [formControl]="valForm.controls['bank']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                      (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Bank Selected">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Sales Person</label>
                    <ng-select formControlName="sales_person" [formControl]="valForm.controls['sales_person']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No Sales Person Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-6">
                    <label>Description</label>
                    <textarea class="panel panel-body mh0 form-control note-editor" formControlName="description" [formControl]="valForm.controls['description']"
                      rows="4"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </p-panel>
        <div class="panel-footer text-center">
          <button class="btn btn-info" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
