<div class="content-heading">Debit Note
  <a [routerLink]="'/share/accounts/transactions/debit-notes/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <p-panel header="Debit Note Details" [toggleable]="true">
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Purchase Return</label>
                    <br/>
                    <label class="checkbox-inline c-checkbox">
                      <input type="checkbox" value="true" formControlName="purchase_return" [formControl]="valForm.controls['purchase_return']"
                      />
                      <span class="fa fa-check"></span>
                    </label>
                  </div>
                  <div class="col-xs-3">
                    <label>Purchase Return No</label>
                    <ng-select formControlName="purchase_return_no" [formControl]="valForm.controls['purchase_return_no']" [allowClear]="true"
                      [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)"
                      (typed)="typed($event)" placeholder="No Purchase Return No Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Supplier</label>
                    <ng-select formControlName="supplier" [formControl]="valForm.controls['supplier']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                      (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No supplier Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Date</label>
                    <input class="form-control" type="date" formControlName="date" [formControl]="valForm.controls['date']" />
                    <span class="text-danger" *ngIf="valForm.controls['date'].hasError('date') && (valForm.controls['date'].dirty || valForm.controls['date'].touched)">Enter a valid date</span>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Currency</label>
                    <ng-select formControlName="currency" [formControl]="valForm.controls['currency']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                      (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Currency Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-6">
                    <label>Description</label>
                    <textarea class="panel panel-body mh0 form-control note-editor" formControlName="description" [formControl]="valForm.controls['description']"
                      rows="4"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-6">
                    <label>Supplier Address</label>
                    <textarea class="panel panel-body mh0 form-control note-editor" formControlName="supplier_address" [formControl]="valForm.controls['supplier_address']"
                      rows="4"></textarea>
                  </div>
                  <div class="col-xs-3">
                    <label>Supplier State</label>
                    <ng-select formControlName="supplier_state" [formControl]="valForm.controls['supplier_state']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No Supplier State Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Supplier GST Registration Type</label>
                    <ng-select formControlName="supplier_gst_registration_type" [formControl]="valForm.controls['supplier_gst_registration_type']"
                      [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)"
                      (typed)="typed($event)" placeholder="No Type Selected">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Supplier GSTIN</label>
                    <input class="form-control" type="text" formControlName="supplier_gstin" [formControl]="valForm.controls['supplier_gstin']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['supplier_gstin'].hasError('required') && (valForm.controls['supplier_gstin'].dirty || valForm.controls['supplier_gstin'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-3">
                    <label>E-Way Bill No</label>
                    <input class="form-control" type="e_way_bill_no" formControlName="e_way_bill_no" [formControl]="valForm.controls['e_way_bill_no']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['e_way_bill_no'].hasError('required') && (valForm.controls['e_way_bill_no'].dirty || valForm.controls['e_way_bill_no'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Supplier GST Registration Type</label>
                    <ng-select formControlName="supplier_gst_registration_type" [formControl]="valForm.controls['supplier_gst_registration_type']"
                      [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)"
                      (typed)="typed($event)" placeholder="No Type Selected">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </p-panel>
        <div class="panel-footer text-center">
          <button class="btn btn-info" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
