<div class="content-heading">Create Leave Requests
  <small>Leave Requests : New</small>
</div>
<div class="container-fluid">
<div class="row">
      <div class="col-md-12">
            <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
            <!-- START panel-->
            <div class="panel panel-default">
                  <div class="panel-body">                        
                        <fieldset class="b0">
                              <legend>Leave Requests Details</legend>
                        </fieldset>
                        <fieldset>
                              <div class="form-group">                              
                                    <div class="col-sm-12">
                                          <div class="row">
                                                <div class="col-xs-3">
                                                      <label>Employee</label>
                                                      <input class="form-control" type="text" placeholder="Employee..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Leave Type</label>
                                                      <input class="form-control" type="text" placeholder="Leave Type..." />
                                                </div>  
                                                <div class="col-xs-3">
                                                      <label>From</label>
                                                      <input class="form-control" type="text" placeholder="Customer PO Number..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>To</label>   
                                                      <input class="form-control" type="text" placeholder="Quote No..." />
                                                </div>
                                          </div>                                    
                                    </div>
                              </div>
                        </fieldset>                        
                        <fieldset>
                          <div class="form-group">                              
                                <div class="col-sm-12">
                                      <div class="row">
                                            <div class="col-xs-3">
                                                <label>Reason</label>   
                                                <textarea class="form-control" rows="2" id="additional_notes"></textarea>
                                            </div>
                                            <div class="col-xs-3">                                                
                                                <div class="checkbox c-checkbox checkbox-inline">
                                                      <label>
                                                            <input id="partner_customer" type="checkbox" value="customer" />
                                                            <span class="fa fa-check"></span>Half Day</label>
                                                </div>
                                            </div>                                            
                                      </div>                                    
                                </div>
                          </div>
                      </fieldset>
                  </div>


                  <div class="panel-footer text-center">
                        <button class="btn btn-info" type="submit">Save</button>
                  </div>
            </div>
            <!-- END panel-->
            </form>
      </div>
</div>
<!-- END row-->

</div>