<div class="content-heading">
  Purchase Register
  <!--<small>Native and not wrapped angular2 based data-tables</small>-->
</div>
<h4 class="page-header text-right">
  <a [routerLink]="'/share/purchase/reports/purchase-register/create'" class="btn btn-primary btn-lg" type="button">Create</a>
</h4>