<div class="content-heading">Edit Competative Quote
    <small>Competative Quote : </small>
  </div>
  <div class="container-fluid">
  <div class="row">
        <div class="col-md-12">
              <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                    <div class="panel-body">                        
                          <fieldset class="b0">
                                <legend>Competative Quote Details</legend>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">                              
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>Competitor</label>
                                                        <input class="form-control" type="text" placeholder="Competitor..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Currency</label>   
                                                        <select class="form-control" name="currency">
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                              <option>Option 4</option>
                                                        </select>
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Quote No</label>
                                                        <input class="form-control" type="text" placeholder="Quote No..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Quote Date</label>   
                                                        <input class="form-control" type="text" placeholder="Quote No..." />
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                          <fieldset>
                              <div class="form-group">                              
                                    <div class="col-sm-12">
                                          <div class="row">
                                                <div class="col-xs-3">
                                                      <label>Customer</label>
                                                      <input class="form-control" type="text" placeholder="Customer..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Lead Subject</label>
                                                      <input class="form-control" type="text" placeholder="Customer..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Customer Reference</label>   
                                                      <input class="form-control" type="text" placeholder="Customer Reference..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Outcome</label>   
                                                      <select class="form-control" name="outcome">
                                                            <option>Option 1</option>
                                                            <option>Option 2</option>
                                                            <option>Option 3</option>
                                                            <option>Option 4</option>
                                                      </select>
                                                </div>
                                          </div>                                    
                                    </div>
                              </div>
                          </fieldset>
                          <fieldset class="b0">
                                <legend>Item Details</legend>
                          </fieldset>
                    </div>
  
  
                    <div class="panel-footer text-center">
                          <button class="btn btn-info" type="submit">Save</button>
                    </div>
              </div>
              <!-- END panel-->
              </form>
        </div>
  </div>
  <!-- END row-->
  
  </div>