<div class="content-heading">Create Lead
  <small>Lead : New</small>
</div>
<div class="container-fluid">
<div class="row">
      <div class="col-md-12">
            <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
            <!-- START panel-->
            <div class="panel panel-default">
                  <div class="panel-body">                        
                        <fieldset class="b0">
                              <legend>Lead Details</legend>
                        </fieldset>
                        <fieldset>
                              <div class="form-group">                              
                                    <div class="col-sm-12">
                                          <div class="row">
                                                <div class="col-xs-3">
                                                      <label>Customer</label>
                                                      <input class="form-control" type="text" placeholder="Customer..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Subject</label>
                                                      <input class="form-control" type="text" placeholder="FAX No..." />                                                      
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Sales Person</label>   
                                                      <select class="form-control" name="territory">
                                                            <option>Option 1</option>
                                                            <option>Option 2</option>
                                                            <option>Option 3</option>
                                                            <option>Option 4</option>
                                                      </select>
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Priority</label>   
                                                      <select class="form-control" name="priority">
                                                            <option>Option 1</option>
                                                            <option>Option 2</option>
                                                            <option>Option 3</option>
                                                            <option>Option 4</option>
                                                      </select>
                                                </div>
                                          </div>                                    
                                    </div>
                              </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">                              
                                  <div class="col-sm-12">
                                        <div class="row">
                                              <div class="col-xs-3">
                                                    <label>Expected Closure Date</label>
                                                    <input class="form-control" type="text" placeholder="Customer..." />
                                              </div>
                                              <div class="col-xs-3">
                                                    <label>Source</label>
                                                    <select class="form-control" name="territory">
                                                          <option>Option 1</option>
                                                          <option>Option 2</option>
                                                          <option>Option 3</option>
                                                          <option>Option 4</option>
                                                    </select>
                                              </div>
                                              <div class="col-xs-3">
                                                    <label>Territory</label>   
                                                    <select class="form-control" name="territory">
                                                          <option>Option 1</option>
                                                          <option>Option 2</option>
                                                          <option>Option 3</option>
                                                          <option>Option 4</option>
                                                    </select>
                                              </div>
                                              <div class="col-xs-3">
                                                    <label>Potential Revenue</label>   
                                                    <input class="form-control" type="text" placeholder="Potential Revenue..." />
                                              </div>
                                        </div>                                    
                                  </div>
                            </div>
                        </fieldset>
                        <fieldset>
                          <div class="form-group">                              
                                  <div class="col-sm-12">
                                        <div class="row">
                                              <div class="col-xs-3">
                                                    <label>Customer Reference</label>
                                                    <input class="form-control" type="text" placeholder="Customer Reference..." />
                                              </div>
                                              <div class="col-xs-3">
                                                    <label>Delivery Date</label>
                                                    <input class="form-control" type="text" placeholder="Delivery Date..." />
                                              </div>
                                              <div class="col-xs-3">
                                                    <label>Currency</label>
                                                    <select class="form-control" name="currency">
                                                          <option>Option 1</option>
                                                          <option>Option 2</option>
                                                          <option>Option 3</option>
                                                          <option>Option 4</option>
                                                    </select>
                                              </div>
                                              <div class="col-xs-3">
                                                    <label>Price List</label>   
                                                    <select class="form-control" name="territory">
                                                          <option>Option 1</option>
                                                          <option>Option 2</option>
                                                          <option>Option 3</option>
                                                          <option>Option 4</option>
                                                    </select>
                                              </div>
                                        </div>                                    
                                  </div>
                            </div>
                        </fieldset>
                        <fieldset>
                              <div class="form-group">                              
                                    <div class="col-sm-12">
                                          <div class="row">                                                
                                              <div class="col-xs-3">
                                                    <label>Competitor</label>   
                                                    <input class="form-control" type="text" placeholder="Competitor..." />
                                              </div>
                                              <div class="col-xs-3">
                                                    <label>Stage</label>   
                                                    <select class="form-control" name="territory">
                                                          <option>Option 1</option>
                                                          <option>Option 2</option>
                                                          <option>Option 3</option>
                                                          <option>Option 4</option>
                                                    </select>
                                              </div>
                                              <div class="col-xs-3">
                                                    <label>Industry</label>   
                                                    <select class="form-control" name="territory">
                                                          <option>Option 1</option>
                                                          <option>Option 2</option>
                                                          <option>Option 3</option>
                                                          <option>Option 4</option>
                                                    </select>
                                              </div>
                                          </div>                                    
                                    </div>
                              </div>
                        </fieldset>
                        <fieldset class="b0">
                              <legend>Contact Details</legend>
                        </fieldset>
                        <fieldset>
                              <div class="form-group">
                                    <div class="col-sm-12">
                                          <div class="row">
                                                <div class="col-xs-3">
                                                      <label>Title</label>
                                                      <select class="form-control" name="title">
                                                            <option>Option 1</option>
                                                            <option>Option 2</option>
                                                            <option>Option 3</option>
                                                            <option>Option 4</option>
                                                      </select>
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Name</label>
                                                      <input class="form-control" type="text" placeholder="Name..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Designation</label>   
                                                      <input class="form-control" type="text" placeholder="Designation..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Email</label>   
                                                      <input class="form-control" type="email" placeholder="Email..." />
                                                </div>
                                          </div>                                    
                                    </div>
                              </div>
                        </fieldset>
                        <fieldset>
                              <div class="form-group">
                                    <div class="col-sm-12">
                                          <div class="row">
                                                <div class="col-xs-3">
                                                      <label>Phone</label>
                                                      <input class="form-control" type="text" placeholder="Phone..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Mobile</label>
                                                      <input class="form-control" type="text" placeholder="Mobile..." />
                                                </div>
                                          </div>                                    
                                    </div>
                              </div>
                        </fieldset>
                  </div>


                  <div class="panel-footer text-center">
                        <button class="btn btn-info" type="submit">Save</button>
                  </div>
            </div>
            <!-- END panel-->
            </form>
      </div>
</div>
<!-- END row-->

</div>