<div class="content-heading">Create Industry
    <small>Industries : New</small>
  </div>
  <div class="container-fluid">
  <div class="row">
        <div class="col-md-12">
              <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                    <div class="panel-body">                          
                          <fieldset class="b0">
                                <legend>Industries Details</legend>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">
                                      <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                      <label>Name</label>
                                                      <input class="form-control" type="text" placeholder="Name..." />
                                                </div>
                                                <div class="col-xs-4">
                                                    <label>Remarks</label>   
                                                    <textarea class="form-control" rows="2" id="additional_notes"></textarea>
                                                </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                    </div>
  
  
                    <div class="panel-footer text-center">
                          <button class="btn btn-info" type="submit">Save</button>
                    </div>
              </div>
              <!-- END panel-->
              </form>
        </div>
  </div>
  <!-- END row-->
  
  </div>