<div class="content-heading">Edit Sales Order
    <small>Sales Order : </small>
  </div>
  <div class="container-fluid">
  <div class="row">
        <div class="col-md-12">
              <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                    <div class="panel-body">                        
                          <fieldset class="b0">
                                <legend>Order Details</legend>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">                              
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>Numbering Series</label>
                                                        <select class="form-control" name="currency">
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                              <option>Option 4</option>
                                                        </select>
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Customer</label>
                                                        <input class="form-control" type="text" placeholder="Customer..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Customer PO Number</label>
                                                        <input class="form-control" type="text" placeholder="Customer PO Number..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>PO Date</label>   
                                                        <input class="form-control" type="text" placeholder="Quote No..." />
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                          <fieldset>
                              <div class="form-group">                              
                                    <div class="col-sm-12">
                                          <div class="row">
                                                <div class="col-xs-3">
                                                      <label>Consignee</label>
                                                      <input class="form-control" type="text" placeholder="Consignee..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Quote No</label>
                                                      <input class="form-control" type="text" placeholder="Quote No..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Order Date</label>   
                                                      <input class="form-control" type="text" placeholder="Order Date..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Delivery Date</label>
                                                      <input class="form-control" type="text" placeholder="Delivery Date..." />
                                                </div>
                                          </div>                                    
                                    </div>
                              </div>
                          </fieldset>
                          <fieldset>
                              <div class="form-group">                              
                                    <div class="col-sm-12">
                                          <div class="row">
                                                <div class="col-xs-3">
                                                      <label>Sales Person</label>
                                                      <select class="form-control" name="currency">
                                                            <option>Option 1</option>
                                                            <option>Option 2</option>
                                                            <option>Option 3</option>
                                                            <option>Option 4</option>
                                                      </select>
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Territory</label>
                                                      <select class="form-control" name="currency">
                                                            <option>Option 1</option>
                                                            <option>Option 2</option>
                                                            <option>Option 3</option>
                                                            <option>Option 4</option>
                                                      </select>
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Delivery Policy</label>
                                                      <select class="form-control" name="currency">
                                                            <option>Option 1</option>
                                                            <option>Option 2</option>
                                                            <option>Option 3</option>
                                                            <option>Option 4</option>
                                                      </select>
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Warehouse</label>
                                                      <select class="form-control" name="currency">
                                                            <option>Option 1</option>
                                                            <option>Option 2</option>
                                                            <option>Option 3</option>
                                                            <option>Option 4</option>
                                                      </select>
                                                </div>
                                          </div>                                    
                                    </div>
                              </div>
                          </fieldset>
                          <fieldset>
                              <div class="form-group">                              
                                    <div class="col-sm-12">
                                          <div class="row">
                                                <div class="col-xs-3">
                                                      <label>Credit Period</label>
                                                      <input class="form-control" type="text" placeholder="Credit Period..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Mode Of Despatch</label>
                                                      <input class="form-control" type="text" placeholder="Mode Of Despatch..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Freight</label>   
                                                      <input class="form-control" type="text" placeholder="Freight..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Contact Person</label>
                                                      <select class="form-control" name="currency">
                                                            <option>Option 1</option>
                                                            <option>Option 2</option>
                                                            <option>Option 3</option>
                                                            <option>Option 4</option>
                                                      </select>
                                                </div>
                                          </div>                                    
                                    </div>
                              </div>
                          </fieldset>
                          <fieldset>
                              <div class="form-group">                              
                                    <div class="col-sm-12">
                                          <div class="row">
                                                <div class="col-xs-3">
                                                      <label>Email</label>
                                                      <input class="form-control" type="text" placeholder="Email..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Phone</label>
                                                      <input class="form-control" type="text" placeholder="Phone..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Mobile</label>   
                                                      <input class="form-control" type="text" placeholder="Mobile..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Payment Terms</label>
                                                      <input class="form-control" type="text" placeholder="Payment Terms..." />
                                                </div>
                                          </div>                                    
                                    </div>
                              </div>
                          </fieldset>
                          <fieldset>
                              <div class="form-group">                              
                                    <div class="col-sm-12">
                                          <div class="row">
                                                <div class="col-xs-3">
                                                      <label>Billing Address</label>
                                                      <input class="form-control" type="text" placeholder="Billing Address..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Delivery Address</label>
                                                      <input class="form-control" type="text" placeholder="Delivery Address..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Currency</label>
                                                      <select class="form-control" name="currency">
                                                            <option>Option 1</option>
                                                            <option>Option 2</option>
                                                            <option>Option 3</option>
                                                            <option>Option 4</option>
                                                      </select>
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Price List</label>
                                                      <select class="form-control" name="currency">
                                                            <option>Option 1</option>
                                                            <option>Option 2</option>
                                                            <option>Option 3</option>
                                                            <option>Option 4</option>
                                                      </select>
                                                </div>
                                          </div>                                    
                                    </div>
                              </div>
                          </fieldset>
                          <fieldset>
                              <div class="form-group">                              
                                    <div class="col-sm-12">
                                          <div class="row">
                                                <div class="col-xs-3">
                                                      <label>Default Tax</label>
                                                      <select class="form-control" name="currency">
                                                            <option>Option 1</option>
                                                            <option>Option 2</option>
                                                            <option>Option 3</option>
                                                            <option>Option 4</option>
                                                      </select>
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Invoiced %</label>
                                                      <input class="form-control" type="text" placeholder="Invoiced %..." />
                                                </div>
                                          </div>                                    
                                    </div>
                              </div>
                          </fieldset>                          
                          <fieldset class="b0">
                                <legend>Item Details</legend>
                          </fieldset>
                          <fieldset class="b0">
                                <legend>Terms and Conditions</legend>
                          </fieldset>
                          <fieldset>
                              <div class="form-group">                              
                                    <div class="col-sm-12">
                                          <div class="row">
                                                <div class="col-xs-3">
                                                      <label>Terms and Conditions</label>
                                                      <select class="form-control" name="currency">
                                                            <option>Option 1</option>
                                                            <option>Option 2</option>
                                                            <option>Option 3</option>
                                                            <option>Option 4</option>
                                                      </select>
                                                </div>
                                          </div>                                    
                                    </div>
                              </div>
                          </fieldset>
                    </div>
  
  
                    <div class="panel-footer text-center">
                          <button class="btn btn-info" type="submit">Save</button>
                    </div>
              </div>
              <!-- END panel-->
              </form>
        </div>
  </div>
  <!-- END row-->
  
  </div>