<div class="content-heading">Accounting Form
    <a [routerLink]="'/share/accounts/masters/accounting-forms/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
    <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <fieldset class="b0">
                            <legend>Accounting Form Details</legend>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">                              
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <label>Form Name</label>
                                            <input class="form-control" type="text" formControlName="form_name" [formControl]="valForm.controls['form_name']" />
                                            <span class="text-danger" *ngIf="valForm.controls['form_name'].hasError('required') && (valForm.controls['form_name'].dirty || valForm.controls['form_name'].touched)">This field is required</span>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>Apply For Sales</label><br/>
                                            <label class="checkbox-inline c-checkbox">
                                            <input type="checkbox" value="true" formControlName="apply_sales" [formControl]="valForm.controls['apply_sales']"/>
                                            <span class="fa fa-check"></span></label>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>Apply For Purchase</label><br/>
                                            <label class="checkbox-inline c-checkbox">
                                            <input type="checkbox" value="true" formControlName="apply_sales" [formControl]="valForm.controls['apply_sales']"/>
                                            <span class="fa fa-check"></span></label>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>Is Active</label><br/>
                                            <label class="checkbox-inline c-checkbox">
                                            <input type="checkbox" value="true" formControlName="is_active" [formControl]="valForm.controls['is_active']"/>
                                            <span class="fa fa-check"></span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="panel-footer text-center">
                    <button class="btn btn-info" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>    