<div class="content-heading">Credit Note
  <a [routerLink]="'/share/accounts/transactions/credit-notes/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <p-panel header="Credit Note Details" [toggleable]="true">
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>For Sales Return</label>
                    <br/>
                    <label class="checkbox-inline c-checkbox">
                      <input type="checkbox" value="true" formControlName="for_sales_return" [formControl]="valForm.controls['for_sales_return']"
                      />
                      <span class="fa fa-check"></span>
                    </label>
                  </div>
                  <div class="col-xs-3">
                    <label>Sales Return No</label>
                    <ng-select formControlName="sales_return_no" [formControl]="valForm.controls['sales_return_no']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No Sales Return No Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Partner</label>
                    <ng-select formControlName="partner" [formControl]="valForm.controls['partner']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                      (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Partner Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Date</label>
                    <input class="form-control" type="date" formControlName="date" [formControl]="valForm.controls['date']" />
                    <span class="text-danger" *ngIf="valForm.controls['date'].hasError('date') && (valForm.controls['date'].dirty || valForm.controls['date'].touched)">Enter a valid date</span>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Sales Person</label>
                    <ng-select formControlName="sales_person" [formControl]="valForm.controls['sales_person']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No Sales Person Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Territory</label>
                    <ng-select formControlName="territory" [formControl]="valForm.controls['territory']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No Territory Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Currency</label>
                    <ng-select formControlName="currency" [formControl]="valForm.controls['currency']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                      (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Currency Selected">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-6">
                    <label>Billing Address</label>
                    <textarea class="panel panel-body mh0 form-control note-editor" formControlName="billing_address" [formControl]="valForm.controls['billing_address']"
                      rows="4"></textarea>
                  </div>
                  <div class="col-xs-3">
                    <label>Customer State</label>
                    <ng-select formControlName="customer_state" [formControl]="valForm.controls['customer_state']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No Customer State Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Customer GST Registration Type</label>
                    <ng-select formControlName="customer_gst_registration_type" [formControl]="valForm.controls['customer_gst_registration_type']"
                      [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)"
                      (typed)="typed($event)" placeholder="No Type Selected">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Customer GSTIN</label>
                    <input class="form-control" type="text" formControlName="customer_gstin" [formControl]="valForm.controls['customer_gstin']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['customer_gstin'].hasError('required') && (valForm.controls['customer_gstin'].dirty || valForm.controls['customer_gstin'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-3">
                    <label>GST Credit Sale Details</label>
                    <ng-select formControlName="gst_credit_sale_details" [formControl]="valForm.controls['gst_credit_sale_details']" [allowClear]="true"
                      [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)"
                      (typed)="typed($event)" placeholder="No GST Credit Sale Details Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>E-Way Bill No</label>
                    <input class="form-control" type="e_way_bill_no" formControlName="e_way_bill_no" [formControl]="valForm.controls['e_way_bill_no']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['e_way_bill_no'].hasError('required') && (valForm.controls['e_way_bill_no'].dirty || valForm.controls['e_way_bill_no'].touched)">This field is required</span>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-6">
                    <label>Delivery Address</label>
                    <textarea class="panel panel-body mh0 form-control note-editor" formControlName="delivery_address" [formControl]="valForm.controls['delivery_address']"
                      rows="4"></textarea>
                  </div>
                  <div class="col-xs-6">
                    <label>Description</label>
                    <textarea class="panel panel-body mh0 form-control note-editor" formControlName="description" [formControl]="valForm.controls['description']"
                      rows="4"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </p-panel>
        <div class="panel-footer text-center">
          <button class="btn btn-info" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
