<div class="content-heading">Partner : New
  <a [routerLink]="'/share/purchase/master/suppliers/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="supplierForm" class="form-validate form-horizontal" (submit)="submitForm($event, supplierForm.value)"
        novalidate="">
        <!-- START panel-->
        <div class="panel panel-default">
          <div class="panel-body">
            <p-panel header="Partner Details">
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-lg-12 control-label" style="text-align:left">Name</label>
                    <div class="col-lg-12">
                      <input class="form-control" type="text" formControlName="name" [formControl]="supplierForm.controls['name']" />
                      <span class="text-danger" *ngIf="supplierForm.controls['name'].hasError('required') && (supplierForm.controls['name'].dirty || supplierForm.controls['name'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <div class="col-lg-12">
                      <div class="checkbox c-checkbox needsclick">
                        <label class="needsclick">
                          <input class="needsclick" type="checkbox" formControlName="supplier" [formControl]="supplierForm.controls['supplier']" value=""
                          />
                          <span class="fa fa-check"></span>Supplier</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <div class="col-lg-12">
                      <div class="checkbox c-checkbox needsclick">
                        <label class="needsclick">
                          <input class="needsclick" type="checkbox" formControlName="customer" [formControl]="supplierForm.controls['customer']" value=""
                          />
                          <span class="fa fa-check"></span>Customer</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <div class="col-lg-12">
                      <div class="checkbox c-checkbox needsclick">
                        <label class="needsclick">
                          <input class="needsclick" type="checkbox" formControlName="competitor" [formControl]="supplierForm.controls['competitor']"
                            value="" />
                          <span class="fa fa-check"></span>Competitor</label>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>

            </p-panel>
            <br/>
            <p-panel header="General Details">
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Legal Name</label>
                    <div class="col-sm-10">
                      <input class="form-control" type="text" formControlName="legal_name" [formControl]="supplierForm.controls['legal_name']"
                      />
                      <span class="text-danger" *ngIf="supplierForm.controls['legal_name'].hasError('required') && (supplierForm.controls['legal_name'].dirty || supplierForm.controls['legal_name'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="btn-group">
                    <label class="btn btn-primary" formControlName="general_type" [formControl]="supplierForm.controls['general_type']" btnRadio="'Left'">Company</label>
                    <label class="btn btn-primary" formControlName="general_type" [formControl]="supplierForm.controls['general_type']" btnRadio="'Right'">Individual</label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Territory</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="territory" [formControl]="supplierForm.controls['territory']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Account Selected">
                      </ng-select>

                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Fax No</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="fax_no" [formControl]="supplierForm.controls['fax_no']" />
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Website</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="website" [formControl]="supplierForm.controls['website']" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Remarks</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="remarks" [formControl]="supplierForm.controls['remarks']" />
                    </div>
                  </div>
                </div>
              </fieldset>

            </p-panel>
            <br/>

            <p-panel header="Contact details">
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">Title</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="contact_title" [formControl]="supplierForm.controls['contact_title']"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">Name</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="contact_name" [formControl]="supplierForm.controls['contact_name']"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">Designation</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="designation" [formControl]="supplierForm.controls['designation']"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">Email</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="email" formControlName="contact_email" [formControl]="supplierForm.controls['contact_email']"
                      />
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">Phone</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="phone" [formControl]="supplierForm.controls['phone']" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">Mobile</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="mobile" [formControl]="supplierForm.controls['mobile']" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">Fax</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="contact_fax" [formControl]="supplierForm.controls['contact_fax']"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <label class="col-sm-12 control-label" style="text-align:left">Additional Notes</label>
                  <div class="col-sm-12">
                    <div class="panel">
                      <div class="panel-body mh0">
                        <textarea class="form-control note-editor" formControlName="contact_notes" [formControl]="supplierForm.controls['contact_notes']"
                          rows="5"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>

            </p-panel>
            <br/>
            <p-panel header="Legal Details">
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">GST Registration Type</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="gst_registration_type" [formControl]="supplierForm.controls['gst_registration_type']"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">GSTN</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="gstn" [formControl]="supplierForm.controls['gstn']"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">TIN No</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="tin_no" [formControl]="supplierForm.controls['tin_no']"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">PAN No</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="pan_no" [formControl]="supplierForm.controls['pan_no']"
                      />
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">CST No</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="cst_no" [formControl]="supplierForm.controls['cst_no']" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">CIN No</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="cin_no" [formControl]="supplierForm.controls['cin_no']" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">Supplier Code</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="supplier_code" [formControl]="supplierForm.controls['supplier_code']"
                      />
                    </div>
                  </div>
                </div>
              </fieldset>
            </p-panel>
            <br/>
            <p-panel header="Supplier Details">
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">Purchase Pricelist</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="purchase_pricelist" [formControl]="supplierForm.controls['purchase_pricelist']"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">Credit Periods (in Days)</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="credit_period" [formControl]="supplierForm.controls['credit_period']"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">Account Payable</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="account_payable" [formControl]="supplierForm.controls['account_payable']"
                      />
                    </div>
                  </div>
                </div>
                
              </fieldset>
              
            </p-panel>

          </div>
          <div class="panel-footer text-">
              <button class="btn btn-default" type="button">Cancel</button>
            <button class="btn btn-info" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
