<div class="content-heading">Company Details
        <a [routerLink]="'/share/accounts/masters/companies/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
      <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
                <!-- START panel-->
                <p-panel header="Company Details" [toggleable]="true">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label>Name</label>
                                        <input class="form-control" type="text" formControlName="name" [formControl]="valForm.controls['name']" />
                                        <span class="text-danger" *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">This field is required</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Legal Name</label>
                                        <input class="form-control" type="text" formControlName="legal_name" [formControl]="valForm.controls['legal_name']" />
                                        <span class="text-danger" *ngIf="valForm.controls['legal_name'].hasError('required') && (valForm.controls['legal_name'].dirty || valForm.controls['legal_name'].touched)">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">                              
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label>Default Company</label><br/>
                                        <label class="checkbox-inline c-checkbox">
                                        <input type="checkbox" value="true" formControlName="default_company" [formControl]="valForm.controls['default_company']"/>
                                        <span class="fa fa-check"></span></label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Use Excise</label><br/>
                                        <label class="checkbox-inline c-checkbox">
                                        <input type="checkbox" value="true" formControlName="use_excise" [formControl]="valForm.controls['use_excise']"/>
                                        <span class="fa fa-check"></span></label>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Excise Type</label><br/>
                                        <ng-select formControlName="excise_type" [formControl]="valForm.controls['excise_type']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Excise Type Selected">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset> 
                </p-panel>
                <p-panel header="General Details" [toggleable]="true">
                    <fieldset>
                        <div class="form-group">                              
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <label>Primary Contact</label>
                                        <ng-select formControlName="primary_contact" [formControl]="valForm.controls['primary_contact']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Excise Type Selected">
                                        </ng-select>
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Phone</label>
                                        <input class="form-control" type="text" formControlName="phone" [formControl]="valForm.controls['phone']" />
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Mobile</label>
                                        <input class="form-control" type="text" formControlName="mobile" [formControl]="valForm.controls['mobile']" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">                              
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <label>Email</label>
                                        <input class="form-control" type="text" formControlName="email" [formControl]="valForm.controls['email']" />
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Fax No</label>
                                        <input class="form-control" type="text" formControlName="fax_no" [formControl]="valForm.controls['fax_no']" />
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Website</label>
                                        <input class="form-control" type="text" formControlName="website" [formControl]="valForm.controls['website']" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </p-panel>
                <p-panel header="Legal Details" [toggleable]="true">
                    <fieldset>
                        <div class="form-group">                              
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label>Company State</label>
                                        <ng-select formControlName="company_state" [formControl]="valForm.controls['company_state']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Excise Type Selected">
                                        </ng-select>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>GST Registration Type</label>
                                        <ng-select formControlName="gst_reg_type" [formControl]="valForm.controls['gst_reg_type']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Excise Type Selected">
                                        </ng-select>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>GSTIN</label>
                                        <input class="form-control" type="text" formControlName="gstin" [formControl]="valForm.controls['gstin']" />
                                    </div>
                                    <div class="col-xs-3">
                                        <label>TIN NO</label>
                                        <input class="form-control" type="text" formControlName="tin_no" [formControl]="valForm.controls['tin_no']" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">                              
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label>PAN No</label>
                                        <input class="form-control" type="text" formControlName="pan_no" [formControl]="valForm.controls['pan_no']" />
                                    </div>
                                    <div class="col-xs-3">
                                        <label>CST No</label>
                                        <input class="form-control" type="text" formControlName="cst_no" [formControl]="valForm.controls['cst_no']" />
                                    </div>
                                    <div class="col-xs-3">
                                        <label>TNGST No</label>
                                        <input class="form-control" type="text" formControlName="tngst_no" [formControl]="valForm.controls['tngst_no']" />
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Service Tax Regn. No</label>
                                        <input class="form-control" type="text" formControlName="serv_tax_reg_no" [formControl]="valForm.controls['serv_tax_reg_no']" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">                              
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label>CIN No</label>
                                        <input class="form-control" type="text" formControlName="pan_no" [formControl]="valForm.controls['pan_no']" />
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Excise Regn. No</label>
                                        <input class="form-control" type="text" formControlName="cst_no" [formControl]="valForm.controls['cst_no']" />
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Excise PLA No</label>
                                        <input class="form-control" type="text" formControlName="tngst_no" [formControl]="valForm.controls['tngst_no']" />
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Excise Range</label>
                                        <input class="form-control" type="text" formControlName="serv_tax_reg_no" [formControl]="valForm.controls['serv_tax_reg_no']" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">                              
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label>Excise Division</label>
                                        <input class="form-control" type="text" formControlName="pan_no" [formControl]="valForm.controls['pan_no']" />
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Excise Collectorate</label>
                                        <input class="form-control" type="text" formControlName="cst_no" [formControl]="valForm.controls['cst_no']" />
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Bank Name</label>
                                        <input class="form-control" type="text" formControlName="tngst_no" [formControl]="valForm.controls['tngst_no']" />
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Account No</label>
                                        <input class="form-control" type="text" formControlName="serv_tax_reg_no" [formControl]="valForm.controls['serv_tax_reg_no']" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">                              
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label>IFSC Code</label>
                                        <input class="form-control" type="text" formControlName="pan_no" [formControl]="valForm.controls['pan_no']" />
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Bank Branch</label>
                                        <input class="form-control" type="text" formControlName="cst_no" [formControl]="valForm.controls['cst_no']" />
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Vat Declaration</label>
                                        <textarea class="panel panel-body mh0 form-control note-editor" formControlName="description" [formControl]="valForm.controls['description']" rows="2"></textarea>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </p-panel>
                <p-panel header="Indiamart Lead Automation" [toggleable]="true">
                    <fieldset>
                        <div class="form-group">                              
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-1">
                                        <label>Enable</label><br/>
                                        <label class="checkbox-inline c-checkbox">
                                            <input type="checkbox" value="true" formControlName="default_company" [formControl]="valForm.controls['default_company']"/>
                                            <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Register Mobile</label>
                                        <input class="form-control" type="text" formControlName="cst_no" [formControl]="valForm.controls['cst_no']" />
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Sales Person</label>
                                        <ng-select formControlName="gst_reg_type" [formControl]="valForm.controls['gst_reg_type']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Excise Type Selected">
                                        </ng-select>
                                    </div>
                                    <div class="col-xs-5">
                                        <label>API Key</label>
                                        <textarea class="panel panel-body mh0 form-control note-editor" formControlName="description" [formControl]="valForm.controls['description']" rows="2"></textarea>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">                              
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label>Source</label>
                                        <ng-select formControlName="gst_reg_type" [formControl]="valForm.controls['gst_reg_type']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Excise Type Selected">
                                        </ng-select>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Stage</label>
                                        <ng-select formControlName="gst_reg_type" [formControl]="valForm.controls['gst_reg_type']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Excise Type Selected">
                                        </ng-select>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Priority</label>
                                        <ng-select formControlName="gst_reg_type" [formControl]="valForm.controls['gst_reg_type']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Excise Type Selected">
                                        </ng-select>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Naming Series</label>
                                        <ng-select formControlName="gst_reg_type" [formControl]="valForm.controls['gst_reg_type']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Excise Type Selected">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </p-panel>
                <p-panel header="Address & Contact Details" [toggleable]="true">
                    <fieldset>
                        <div class="form-group">                              
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label>Address</label>
                                        <textarea class="panel panel-body mh0 form-control note-editor" formControlName="description" [formControl]="valForm.controls['description']" rows="2"></textarea>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Contact</label>
                                        <textarea class="panel panel-body mh0 form-control note-editor" formControlName="description" [formControl]="valForm.controls['description']" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </p-panel>
                <div class="panel-footer text-center">
                    <button class="btn btn-info" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>    