<div class="content-heading">Edit Pay Structure
    <small>Pay Structure : </small>
  </div>
  <div class="container-fluid">
  <div class="row">
        <div class="col-md-12">
              <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                    <div class="panel-body">                        
                          <fieldset class="b0">
                                <legend>Pay Structure Details</legend>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">                              
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>Employee</label>
                                                        <input class="form-control" type="text" placeholder="Employee..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Effective From</label>
                                                        <input class="form-control" type="text" placeholder="Effective From..." />
                                                  </div>  
                                                  <div class="col-xs-3">
                                                        <label>Total Earnings</label>
                                                        <input class="form-control" type="text" placeholder="Total Earnings..." />
                                                  </div>  
                                                  <div class="col-xs-3">
                                                        <label>Total Deductions</label>
                                                        <input class="form-control" type="text" placeholder="Total Deductions..." />
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>                        
                          <fieldset>
                            <div class="form-group">                              
                                  <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                  <label>Net Pay</label>
                                                  <input class="form-control" type="text" placeholder="Total Deductions..." />
                                            </div>                                  
                                        </div>                                    
                                  </div>
                            </div>
                        </fieldset>
                        <fieldset class="b0">
                              <legend>Pay Structure Items Details</legend>
                        </fieldset>
                    </div>
  
  
                    <div class="panel-footer text-center">
                          <button class="btn btn-info" type="submit">Save</button>
                    </div>
              </div>
              <!-- END panel-->
              </form>
        </div>
  </div>
  <!-- END row-->
  
  </div>