<div class="content-heading">Create Employee
    <small>Employee Name</small>
  </div>
  <div class="container-fluid">
  <div class="row">
        <div class="col-md-12">
              <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                    <div class="panel-body">                        
                          <fieldset class="b0">
                                <legend>Employee Details</legend>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">                              
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>First Name</label>
                                                        <input class="form-control" type="text" placeholder="First Name..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Middle Name</label>
                                                        <input class="form-control" type="text" placeholder="Middle Name..." />
                                                  </div>  
                                                  <div class="col-xs-3">
                                                        <label>Last Name</label>
                                                        <input class="form-control" type="text" placeholder="Last Name..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Display Name</label>   
                                                        <input class="form-control" type="text" placeholder="Display Name..." />
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>  
                          <fieldset>
                              <div class="form-group">                              
                                    <div class="col-sm-12">
                                          <div class="row">
                                                <div class="col-xs-3">
                                                      <label>Employee Code</label>
                                                      <input class="form-control" type="text" placeholder="Employee Code..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>User ID</label>
                                                      <input class="form-control" type="text" placeholder="User ID..." />
                                                </div>  
                                                <div class="col-xs-3">                                                
                                                    <div class="checkbox c-checkbox checkbox-inline">
                                                          <label>
                                                                <input id="partner_customer" type="checkbox" value="customer" />
                                                                <span class="fa fa-check"></span>Track Employee</label>
                                                    </div>
                                                </div>   
                                                <div class="col-xs-3">
                                                      <label>Track Passcode</label>   
                                                      <input class="form-control" type="text" placeholder="Display Name..." />
                                                </div>
                                          </div>                                    
                                    </div>
                              </div>
                        </fieldset>     
                        <fieldset>
                            <div class="form-group">                              
                                  <div class="col-sm-12">
                                        <div class="row">
                                              <div class="col-xs-3">
                                                    <label>Email</label>
                                                    <input class="form-control" type="text" placeholder="Email..." />
                                              </div>
                                              <div class="col-xs-3">
                                                    <label>Phone</label>
                                                    <input class="form-control" type="text" placeholder="Phone..." />
                                              </div>  
                                              <div class="col-xs-3">
                                                    <label>Mobile</label>
                                                    <input class="form-control" type="text" placeholder="Mobile..." />
                                              </div>
                                              <div class="col-xs-3">
                                                    <label>Hourly Cost</label>   
                                                    <input class="form-control" type="text" placeholder="Hourly Cost..." />
                                              </div>
                                        </div>                                    
                                  </div>
                            </div>
                      </fieldset>
                      <fieldset>
                            <div class="form-group">                              
                                  <div class="col-sm-12">
                                        <div class="row">
                                              <div class="col-xs-3">
                                                    <label>Employee Status</label>
                                                    <select class="form-control" name="currency">
                                                          <option>Option 1</option>
                                                          <option>Option 2</option>
                                                          <option>Option 3</option>
                                                          <option>Option 4</option>
                                                    </select>                                                    
                                              </div>
                                              <div class="col-xs-3">
                                                    <label>Department</label>
                                                    <input class="form-control" type="text" placeholder="Department..." />
                                              </div>  
                                              <div class="col-xs-3">
                                                    <label>Work Start Time</label>
                                                    <input class="form-control" type="text" placeholder="Work Start Time..." />
                                              </div>
                                              <div class="col-xs-3">
                                                    <label>Work End Time</label>   
                                                    <input class="form-control" type="text" placeholder="Work End Time..." />
                                              </div>
                                        </div>                                    
                                  </div>
                            </div>
                      </fieldset>
                      <fieldset>
                          <div class="form-group">                              
                                <div class="col-sm-12">
                                      <div class="row">                                              
                                          <div class="col-xs-3">                                                
                                              <div class="checkbox c-checkbox checkbox-inline">
                                                    <label>
                                                          <input id="partner_customer" type="checkbox" value="customer" />
                                                          <span class="fa fa-check"></span>Is Engineer</label>
                                              </div>
                                          </div>  
                                            <div class="col-xs-3">                                                
                                                <div class="checkbox c-checkbox checkbox-inline">
                                                      <label>
                                                            <input id="partner_customer" type="checkbox" value="customer" />
                                                            <span class="fa fa-check"></span>Is Operator</label>
                                                </div>
                                            </div>  
                                            <div class="col-xs-3">                                                
                                                <div class="checkbox c-checkbox checkbox-inline">
                                                      <label>
                                                            <input id="partner_customer" type="checkbox" value="customer" />
                                                            <span class="fa fa-check"></span>Contractor</label>
                                                </div>
                                            </div>
                                      </div>                                    
                                </div>
                          </div>
                    </fieldset>
                    <fieldset class="b0">
                          <legend>Personal Details</legend>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">                              
                              <div class="col-sm-12">
                                    <div class="row">
                                          <div class="col-xs-3">
                                                <label>Gender </label>
                                                <select class="form-control" name="currency">
                                                      <option>Option 1</option>
                                                      <option>Option 2</option>
                                                      <option>Option 3</option>
                                                      <option>Option 4</option>
                                                </select>
                                          </div>
                                          <div class="col-xs-3">
                                                <label>Blood Group </label>
                                                <select class="form-control" name="currency">
                                                      <option>Option 1</option>
                                                      <option>Option 2</option>
                                                      <option>Option 3</option>
                                                      <option>Option 4</option>
                                                </select>
                                          </div>  
                                          <div class="col-xs-3">
                                                <label>Date of Birth</label>
                                                <input class="form-control" type="text" placeholder="Mobile..." />
                                          </div>
                                    </div>                                    
                              </div>
                        </div>
                    </fieldset>
                    <fieldset class="b0">
                          <legend>Legal Details</legend>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">                              
                              <div class="col-sm-12">
                                    <div class="row">
                                          <div class="col-xs-3">
                                                <label>Aadhar No</label>
                                                <input class="form-control" type="text" placeholder="Aadhar No..." />
                                          </div>
                                          <div class="col-xs-3">
                                                <label>PAN No</label>
                                                <input class="form-control" type="text" placeholder="PAN No..." />
                                          </div>  
                                          <div class="col-xs-3">
                                                <label>Password No</label>
                                                <input class="form-control" type="text" placeholder="Password No..." />
                                          </div>
                                          <div class="col-xs-3">
                                                <label>UAN No</label>
                                                <input class="form-control" type="text" placeholder="UAN No..." />
                                          </div>
                                    </div>                                    
                              </div>
                        </div>
                    </fieldset>
                    <fieldset class="b0">
                          <legend>Work Details</legend>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">                              
                              <div class="col-sm-12">
                                    <div class="row">
                                          <div class="col-xs-3">
                                                <label>Joining Date</label>
                                                <input class="form-control" type="text" placeholder="Joining Date..." />
                                          </div>
                                          <div class="col-xs-3">
                                                <label>Probation Period (Months)</label>
                                                <input class="form-control" type="text" placeholder="Probation Period (Months)..." />
                                          </div>  
                                          <div class="col-xs-3">
                                                <label>Confirmation Date</label>
                                                <input class="form-control" type="text" placeholder="Confirmation Date..." />
                                          </div>
                                          <div class="col-xs-3">
                                                <label>Location</label>
                                                <input class="form-control" type="text" placeholder="Location..." />
                                          </div>
                                    </div>                                    
                              </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">                              
                              <div class="col-sm-12">
                                    <div class="row">
                                          <div class="col-xs-3">
                                                <label>Designation</label>
                                                <input class="form-control" type="text" placeholder="Designation..." />
                                          </div>
                                          <div class="col-xs-3">
                                                <label>Notice Period (Months)</label>
                                                <input class="form-control" type="text" placeholder="Notice Period (Months)..." />
                                          </div>  
                                          <div class="col-xs-3">
                                                <label>Pay Level</label>
                                                <input class="form-control" type="text" placeholder="Pay Level..." />
                                          </div>
                                          <div class="col-xs-3">
                                                <label>Reporting Manager</label>
                                                <input class="form-control" type="text" placeholder="Reporting Manager..." />
                                          </div>
                                    </div>                                    
                              </div>
                        </div>
                    </fieldset>
                    <fieldset class="b0">
                          <legend>Bank Details</legend>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">                              
                              <div class="col-sm-12">
                                    <div class="row">
                                          <div class="col-xs-3">
                                                <label>Bank Name</label>
                                                <input class="form-control" type="text" placeholder="Bank Name..." />
                                          </div>
                                          <div class="col-xs-3">
                                                <label>Branch Name</label>
                                                <input class="form-control" type="text" placeholder="Branch Name..." />
                                          </div>  
                                          <div class="col-xs-3">
                                                <label>Account No</label>
                                                <input class="form-control" type="text" placeholder="Account No..." />
                                          </div>
                                          <div class="col-xs-3">
                                                <label>IFSC Code</label>
                                                <input class="form-control" type="text" placeholder="IFSC Code..." />
                                          </div>
                                    </div>                                    
                              </div>
                        </div>
                    </fieldset>
                    </div>
  
  
                    <div class="panel-footer text-center">
                          <button class="btn btn-info" type="submit">Save</button>
                    </div>
              </div>
              <!-- END panel-->
              </form>
        </div>
  </div>
  <!-- END row-->
  
  </div>