
<div class="content-heading">Currency Details
    <a [routerLink]="'/share/accounts/masters/currencies/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="contain er-fluid">
  <div class="row">
      <div class="col-md-12">
          <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                  <div class="panel-body">
                    <fieldset class="b0">
                        <legend>Currency Details</legend>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">                              
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <label>Name</label>
                                        <input class="form-control" type="text" formControlName="name" [formControl]="valForm.controls['name']" />
                                        <span class="text-danger" *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">This field is required</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Format</label>
                                        <ng-select formControlName="format" [formControl]="valForm.controls['format']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Format Selected">
                                        </ng-select>
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Symbol</label>
                                        <input class="form-control" type="text" formControlName="symbol" [formControl]="valForm.controls['symbol']" />
                                        <span class="text-danger" *ngIf="valForm.controls['symbol'].hasError('required') && (valForm.controls['symbol'].dirty || valForm.controls['symbol'].touched)">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">                              
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <label>Symbol Position</label>
                                        <ng-select formControlName="symbol_position" [formControl]="valForm.controls['symbol_position']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Symbol Position Selected">
                                        </ng-select>
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Fraction Name</label>
                                        <input class="form-control" type="text" formControlName="fraction_name" [formControl]="valForm.controls['fraction_name']" />
                                        <span class="text-danger" *ngIf="valForm.controls['fraction_name'].hasError('required') && (valForm.controls['fraction_name'].dirty || valForm.controls['fraction_name'].touched)">This field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                  </div>
                  <div class="panel-footer text-center">
                    <button class="btn btn-info" type="submit">Submit</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
  
