<div class="content-heading">Purchase Invoices
  <a [routerLink]="'/share/accounts/transactions/purchase-invoices/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <p-panel header="Purchase Invoice Details" [toggleable]="true">
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Supplier</label>
                    <ng-select formControlName="supplier" [formControl]="valForm.controls['supplier']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                      (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Supplier Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Invoice Date(Posting Date)</label>
                    <input class="form-control" type="date" formControlName="invoice_date" [formControl]="valForm.controls['invoice_date']" />
                    <span class="text-danger" *ngIf="valForm.controls['invoice_date'].hasError('invoice_date') && (valForm.controls['invoice_date'].dirty || valForm.controls['invoice_date'].touched)">Enter a valid date</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Supplier Invoice No</label>
                    <input class="form-control" type="text" formControlName="supplier_invoice_no" [formControl]="valForm.controls['supplier_invoice_no']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['supplier_invoice_no'].hasError('required') && (valForm.controls['supplier_invoice_no'].dirty || valForm.controls['supplier_invoice_no'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Supplier Invoice Date</label>
                    <input class="form-control" type="date" formControlName="supplier_invoice_date" [formControl]="valForm.controls['supplier_invoice_date']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['supplier_invoice_date'].hasError('supplier_invoice_date') && (valForm.controls['supplier_invoice_date'].dirty || valForm.controls['supplier_invoice_date'].touched)">Enter a valid date</span>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Due Date</label>
                    <input class="form-control" type="date" formControlName="supplier_invoice_date" [formControl]="valForm.controls['supplier_invoice_date']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['supplier_invoice_date'].hasError('supplier_invoice_date') && (valForm.controls['supplier_invoice_date'].dirty || valForm.controls['supplier_invoice_date'].touched)">Enter a valid date</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Payable Account</label>
                    <ng-select formControlName="payable_account" [formControl]="valForm.controls['payable_account']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No Payable Account Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Contact Person</label>
                    <ng-select formControlName="contact_person" [formControl]="valForm.controls['contact_person']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No Contact Person Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Email</label>
                    <input class="form-control" type="text" formControlName="email" [formControl]="valForm.controls['email']" />
                    <span class="text-danger" *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">This field is required</span>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Phone</label>
                    <input class="form-control" type="text" formControlName="phone" [formControl]="valForm.controls['phone']" />
                    <span class="text-danger" *ngIf="valForm.controls['phone'].hasError('required') && (valForm.controls['phone'].dirty || valForm.controls['phone'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Mobile</label>
                    <input class="form-control" type="text" formControlName="mobile" [formControl]="valForm.controls['mobile']" />
                    <span class="text-danger" *ngIf="valForm.controls['mobile'].hasError('required') && (valForm.controls['mobile'].dirty || valForm.controls['mobile'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-6">
                    <label>Billing Address</label>
                    <textarea class="panel panel-body mh0 form-control note-editor" formControlName="billing_address" [formControl]="valForm.controls['billing_address']"
                      rows="4"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-6">
                    <label>Delivery Address</label>
                    <textarea class="panel panel-body mh0 form-control note-editor" formControlName="billing_address" [formControl]="valForm.controls['billing_address']"
                      rows="4"></textarea>
                  </div>
                  <div class="col-xs-6">
                    <label>Supplier Address</label>
                    <textarea class="panel panel-body mh0 form-control note-editor" formControlName="billing_address" [formControl]="valForm.controls['billing_address']"
                      rows="4"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Supplier State</label>
                    <ng-select formControlName="supplier_state" [formControl]="valForm.controls['supplier_state']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No Supplier State Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Supplier GST Registration Type</label>
                    <ng-select formControlName="supplier_gst_registration_type" [formControl]="valForm.controls['supplier_gst_registration_type']"
                      [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)"
                      (typed)="typed($event)" placeholder="No Type Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-3">
                    <label>Supplier GSTIN</label>
                    <input class="form-control" type="text" formControlName="supplier_gstin" [formControl]="valForm.controls['supplier_gstin']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['supplier_gstin'].hasError('required') && (valForm.controls['supplier_gstin'].dirty || valForm.controls['supplier_gstin'].touched)">This field is required</span>
                  </div>
                  <div class="col-xs-3">
                    <label>Currency</label>
                    <ng-select formControlName="currency" [formControl]="valForm.controls['currency']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                      (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Currency Selected">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-3">
                    <label>Default Tax</label>
                    <ng-select formControlName="default_tax" [formControl]="valForm.controls['default_tax']" [allowClear]="true" [items]="items"
                      (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                      placeholder="No Default Tax Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-6">
                    <label>Remarks</label>
                    <textarea class="panel panel-body mh0 form-control note-editor" formControlName="remarks" [formControl]="valForm.controls['remarks']"
                      rows="4"></textarea>
                  </div>
                  <div class="col-xs-3">
                    <label>E-Way Bill No</label>
                    <input class="form-control" type="text" formControlName="e_way_bill_no" [formControl]="valForm.controls['e_way_bill_no']"
                    />
                    <span class="text-danger" *ngIf="valForm.controls['e_way_bill_no'].hasError('required') && (valForm.controls['e_way_bill_no'].dirty || valForm.controls['e_way_bill_no'].touched)">This field is required</span>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </p-panel>
        <div class="panel-footer text-center">
          <button class="btn btn-info" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
