<div class="content-heading">Create Sales Target
    <small>Sales Target : New</small>
  </div>
  <div class="container-fluid">
  <div class="row">
        <div class="col-md-12">
              <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                    <div class="panel-body">                          
                          <fieldset class="b0">
                                <legend>Sales Target Details</legend>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">
                                      <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                      <label>Title</label>
                                                      <input class="form-control" type="text" placeholder="Title..." />
                                                </div>
                                                <div class="col-xs-3">
                                                        <label>Sales Person</label>
                                                        <select class="form-control" name="title">
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                              <option>Option 4</option>
                                                        </select>
                                                  </div>                                                  
                                                  <div class="col-xs-3">
                                                        <label>Base Resource</label>                                                           
                                                        <select class="form-control" name="title">
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                              <option>Option 4</option>
                                                        </select>
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Target Field</label>   
                                                        <select class="form-control" name="title">
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                              <option>Option 4</option>
                                                        </select>
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>Target Value</label>
                                                        <input class="form-control" type="text" placeholder="Target Value..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Target Type</label>
                                                        <select class="form-control" name="target_type">
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                              <option>Option 4</option>
                                                        </select>
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Year</label>   
                                                        <input class="form-control" type="text" placeholder="Year..." />
                                                  </div>                                                  
                                                  <div class="col-xs-3">
                                                        <label>Month Ending</label>
                                                        <select class="form-control" name="month_ending">
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                              <option>Option 4</option>
                                                        </select>
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                          <fieldset>
                              <div class="form-group">
                                    <div class="col-sm-12">
                                          <div class="row">
                                                <div class="col-xs-3">
                                                    <label>Remarks</label>   
                                                    <textarea class="form-control" rows="2" id="additional_notes"></textarea>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                          </fieldset>
                                                
                    </div>
  
  
                    <div class="panel-footer text-center">
                          <button class="btn btn-info" type="submit">Save</button>
                    </div>
              </div>
              <!-- END panel-->
              </form>
        </div>
  </div>
  <!-- END row-->
  
  </div>