<div class="content-heading">Create Leave Type
    <small>Leave Type : New</small>
  </div>
  <div class="container-fluid">
  <div class="row">
        <div class="col-md-12">
              <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                    <div class="panel-body">                        
                          <fieldset class="b0">
                                <legend>Leave Type Details</legend>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">                              
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>Name</label>
                                                        <input class="form-control" type="text" placeholder="Name..." />
                                                  </div>  
                                                  <div class="col-xs-3">                                                
                                                      <div class="checkbox c-checkbox checkbox-inline">
                                                            <label>
                                                                  <input id="partner_customer" type="checkbox" value="customer" />
                                                                  <span class="fa fa-check"></span>Paid Leave</label>
                                                      </div>
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Allocation Type</label>
                                                        <select class="form-control" name="currency">
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                              <option>Option 4</option>
                                                        </select>
                                                  </div>
                                                  <div class="col-xs-3">                                                
                                                      <div class="checkbox c-checkbox checkbox-inline">
                                                            <label>
                                                                  <input id="partner_customer" type="checkbox" value="customer" />
                                                                  <span class="fa fa-check"></span>Carry Forward</label>
                                                      </div>
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                    </div>
  
  
                    <div class="panel-footer text-center">
                          <button class="btn btn-info" type="submit">Save</button>
                    </div>
              </div>
              <!-- END panel-->
              </form>
        </div>
  </div>
  <!-- END row-->
  
  </div>