<div class="content-heading">Create Events
    <small>Marketing Events : New</small>
  </div>
  <div class="container-fluid">
  <div class="row">
        <div class="col-md-12">
              <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                    <div class="panel-body">                        
                          <fieldset class="b0">
                                <legend>Event Details</legend>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">                              
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>Name</label>
                                                        <input class="form-control" type="text" placeholder="Customer..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Type</label>   
                                                        <select class="form-control" name="currency">
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                              <option>Option 4</option>
                                                        </select>
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Location</label>
                                                        <input class="form-control" type="text" placeholder="Complaint Date..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Budget</label>   
                                                        <input class="form-control" type="text" placeholder="Due Date..." />
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                          <fieldset>
                              <div class="form-group">                              
                                    <div class="col-sm-12">
                                          <div class="row">
                                                <div class="col-xs-3">
                                                      <label>From Date</label>
                                                      <input class="form-control" type="text" placeholder="Order No..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>To Date</label>
                                                      <input class="form-control" type="text" placeholder="Item Name..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Registration Due Date</label>   
                                                      <input class="form-control" type="text" placeholder="Serial Number..." />
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Event Incharge</label>   
                                                      <select class="form-control" name="currency">
                                                            <option>Option 1</option>
                                                            <option>Option 2</option>
                                                            <option>Option 3</option>
                                                            <option>Option 4</option>
                                                      </select>
                                                </div>
                                          </div>                                    
                                    </div>
                              </div>
                          </fieldset>
                          <fieldset class="b0">
                                <legend>Event Objectives</legend>
                          </fieldset>
                          <fieldset>
                              <div class="form-group">                              
                                    <div class="col-sm-12">
                                          <div class="row">
                                                <div class="col-xs-3">
                                                      <label>Target</label>   
                                                      <textarea class="form-control" rows="2" id="additional_notes"></textarea>
                                                </div>
                                                <div class="col-xs-3">
                                                      <label>Conclusion/Experience</label>   
                                                      <textarea class="form-control" rows="2" id="additional_notes"></textarea>
                                                </div>
                                          </div>                                    
                                    </div>
                              </div>
                          </fieldset>
                    </div>
  
  
                    <div class="panel-footer text-center">
                          <button class="btn btn-info" type="submit">Save</button>
                    </div>
              </div>
              <!-- END panel-->
              </form>
        </div>
  </div>
  <!-- END row-->
  
  </div>