<div class="content-heading">Create Payroll
    <small>Payroll : New</small>
  </div>
  <div class="container-fluid">
  <div class="row">
        <div class="col-md-12">
              <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                    <div class="panel-body">                        
                          <fieldset class="b0">
                                <legend>Payroll Details</legend>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">                              
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>Employee</label>
                                                        <input class="form-control" type="text" placeholder="Employee..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Payroll Date</label>
                                                        <input class="form-control" type="text" placeholder="Payroll Date..." />
                                                  </div>  
                                                  <div class="col-xs-3">
                                                        <label>Period Start</label>
                                                        <input class="form-control" type="text" placeholder="Period Start..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Period End</label>   
                                                        <input class="form-control" type="text" placeholder="Period End..." />
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>                        
                          <fieldset>
                            <div class="form-group">                              
                                  <div class="col-sm-12">
                                          <div class="row">
                                              <div class="col-xs-3">
                                                    <label>Currency</label>   
                                                    <select class="form-control" name="currency">
                                                          <option>Option 1</option>
                                                          <option>Option 2</option>
                                                          <option>Option 3</option>
                                                          <option>Option 4</option>
                                                    </select>
                                              </div>
                                              <div class="col-xs-3">
                                                  <label>Pay Structure</label>   
                                                  <textarea class="form-control" rows="2" id="additional_notes"></textarea>
                                              </div>
                                              <div class="col-xs-3">                                                
                                                  <div class="checkbox c-checkbox checkbox-inline">
                                                        <label>
                                                          <input id="partner_customer" type="checkbox" value="customer" />
                                                          <span class="fa fa-check"></span>Use for Opening Balance</label>
                                                  </div>
                                              </div>                                            
                                        </div>                                    
                                  </div>
                            </div>
                        </fieldset>
                        <fieldset class="b0">
                              <legend>Attendance Details</legend>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">                              
                                  <div class="col-sm-12">
                                        <div class="row">
                                              <div class="col-xs-3">
                                                    <label>Total Pay Days</label>
                                                    <input class="form-control" type="text" placeholder="Total Pay Days..." />
                                              </div>
                                              <div class="col-xs-3">
                                                    <label>Computed Pay Days</label>
                                                    <input class="form-control" type="text" placeholder="Computed Pay Days..." />
                                              </div>  
                                              <div class="col-xs-3">
                                                    <label>Payable Pay Days</label>
                                                    <input class="form-control" type="text" placeholder="Payable Pay Days..." />
                                              </div>
                                              <div class="col-xs-3">
                                                  <label>&nbsp;</label>
                                                  <button class="btn btn-info" type="submit">Calculate Attendance</button>                                                    
                                              </div>                                              
                                        </div>                                    
                                  </div>
                            </div>
                      </fieldset>
                      <fieldset class="b0">
                            <legend>Payroll Items Details</legend>
                      </fieldset>
                    </div>
  
  
                    <div class="panel-footer text-center">
                          <button class="btn btn-success" type="submit">Save</button>
                    </div>
              </div>
              <!-- END panel-->
              </form>
        </div>
  </div>
  <!-- END row-->
  
  </div>