<div class="content-heading">HSN Codes : New
  <a [routerLink]="'/share/stock/masters/hsn-codes/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <div class="panel panel-default">
          <div class="panel-body">
            <p-panel header="HSN Code Details">
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Code</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="hsn_code" [formControl]="valForm.controls['hsn_code']" />
                      <span class="text-danger" *ngIf="valForm.controls['hsn_code'].hasError('required') && (valForm.controls['hsn_code'].dirty || valForm.controls['hsn_code'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left">Type</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="hsn_type" [formControl]="valForm.controls['hsn_type']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                        (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Account Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">Description</label>
                    <div class="col-sm-12">
                      <div class="panel">
                        <div class="panel-body mh0">
                          <textarea class="form-control" formControlName="description" [formControl]="valForm.controls['description']" rows="5"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">IGST</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="igst" [formControl]="valForm.controls['igst']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                        (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Account Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">SGST</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="sgst" [formControl]="valForm.controls['sgst']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                        (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Account Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">CGST</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="cgst" [formControl]="valForm.controls['cgst']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                        (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Account Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </fieldset>
            </p-panel>

          </div>
          <div class="panel-footer text-center">
            <button class="btn btn-info" type="button">Cancel</button>
            <button class="btn btn-success" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
