<div class="content-heading">Unit of Measure
  <a [routerLink]="'/share/stock/masters/uom/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <div class="panel panel-default">
          <div class="panel-body">
            <p-panel header="Unit of Measure Details">
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Unit Name</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="unit_name" [formControl]="valForm.controls['unit_name']" />
                      <span class="text-danger" *ngIf="valForm.controls['unit_name'].hasError('required') && (valForm.controls['unit_name'].dirty || valForm.controls['unit_name'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Parent Name</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="parent_name" [formControl]="valForm.controls['parent_name']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Account Selected">
                      </ng-select>
                      <span class="text-danger" *ngIf="valForm.controls['parent_name'].hasError('required') && (valForm.controls['parent_name'].dirty || valForm.controls['parent_name'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Conversion Rate</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="conversion_rate" [formControl]="valForm.controls['conversion_rate']"
                      />
                      <span class="text-danger" *ngIf="valForm.controls['conversion_rate'].hasError('required') && (valForm.controls['conversion_rate'].dirty || valForm.controls['conversion_rate'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Unit Short Code</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="unit_short_code" [formControl]="valForm.controls['unit_short_code']"
                      />
                      <span class="text-danger" *ngIf="valForm.controls['unit_short_code'].hasError('required') && (valForm.controls['unit_short_code'].dirty || valForm.controls['name'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
              </fieldset>
            </p-panel>
          </div>
          <div class="panel-footer text-center">
            <button class="btn btn-info" type="button">Cancel</button>
            <button class="btn btn-success" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
