<div class="content-heading">Landing Cost
  <a [routerLink]="'/share/accounts/masters/landing-costs/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <div class="panel panel-default">
          <div class="panel-body">
            <fieldset class="b0">
              <legend>Landing Costs Details</legend>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-xs-4">
                      <label>Landing Cost Name</label>
                      <input class="form-control" type="text" formControlName="landing_cost_name" [formControl]="valForm.controls['landing_cost_name']"
                      />
                      <span class="text-danger" *ngIf="valForm.controls['landing_cost_name'].hasError('required') && (valForm.controls['landing_cost_name'].dirty || valForm.controls['landing_cost_name'].touched)">This field is required</span>
                    </div>
                    <div class="col-xs-4">
                      <label>Account</label>
                      <ng-select formControlName="account" [formControl]="valForm.controls['account']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                        (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Account Selected">
                      </ng-select>
                    </div>
                    <div class="col-xs-4">
                      <label>Based On</label>
                      <ng-select formControlName="based_on" [formControl]="valForm.controls['based_on']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                        (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Based On Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="panel-footer text-center">
            <button class="btn btn-info" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
