<div class="content-heading">Accounts
    <a [routerLink]="'/share/accounts/masters/accounts/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
    <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-body">
                    <fieldset class="b0">
                        <legend>Edit</legend>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">                              
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label>Account Name</label>
                                        <input class="form-control" type="text" formControlName="account_name" [formControl]="valForm.controls['account_name']" />
                                        <span class="text-danger" *ngIf="valForm.controls['account_name'].hasError('required') && (valForm.controls['account_name'].dirty || valForm.controls['account_name'].touched)">This field is required</span>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Display Name</label>
                                        <input class="form-control" type="text" formControlName="display_name" [formControl]="valForm.controls['display_name']" />
                                        <span class="text-danger" *ngIf="valForm.controls['display_name'].hasError('required') && (valForm.controls['display_name'].dirty || valForm.controls['display_name'].touched)">This field is required</span>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Parent Account</label>
                                        <ng-select formControlName="parent_account" [formControl]="valForm.controls['parent_account']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Account Selected">
                                        </ng-select>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Type</label>
                                        <ng-select formControlName="type" [formControl]="valForm.controls['type']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Type Selected">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">                              
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label class="col-sm-2 control-label">Group</label>
                                        <ng-select formControlName="group" [formControl]="valForm.controls['group']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Group Selected">
                                        </ng-select>
                                    </div>
                                    <div class="col-xs-3">
                                        <label class="checkbox-inline c-checkbox">
                                        <input type="checkbox" value="true" formControlName="has-child" [formControl]="valForm.controls['has-child']"/>
                                        <span class="fa fa-check"></span>Has Children</label>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="checkbox-inline c-checkbox">
                                            <input type="checkbox" value="true" formControlName="enforce-positive-balance" [formControl]="valForm.controls['enforce-positive-balance']"/>
                                            <span class="fa fa-check"></span>Enforce Positive Balance</label>
                                        <label class="checkbox-inline c-checkbox">
                                            <input type="checkbox" value="true" formControlName="create-followup" [formControl]="valForm.controls['create-followup']"/>
                                            <span class="fa fa-check"></span>Create Followup</label>
                                        <label class="checkbox-inline c-checkbox">
                                            <input type="checkbox" value="true" formControlName="followup-title" [formControl]="valForm.controls['followup-title']"/>
                                            <span class="fa fa-check"></span>Followup Title</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="panel-footer text-center">
                        <button class="btn btn-info" type="submit">Submit</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>    