<div class="content-heading">Item Group
  <a [routerLink]="'/share/stock/masters/item-groups/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <div class="panel panel-default">
          <div class="panel-body">
            <p-panel header="Item Group Details">
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">Group Name</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="group_name" [formControl]="valForm.controls['group_name']" />
                      <span class="text-danger" *ngIf="valForm.controls['group_name'].hasError('required') && (valForm.controls['group_name'].dirty || valForm.controls['group_name'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left">Tax</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="tax" [formControl]="valForm.controls['tax']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                        (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Tax Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">Income Account</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="income_account" [formControl]="valForm.controls['income_account']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Income Account Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">Expense Account</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="expense_account" [formControl]="valForm.controls['expense_account']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Expense Account Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left">HSN/SAC Code</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="hsn_code" [formControl]="valForm.controls['hsn_code']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                        (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No HSN/SAC Code Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">Description</label>
                    <div class="col-sm-12">
                      <div class="panel">
                        <div class="panel-body mh0">
                          <textarea class="form-control note-editor" formControlName="description" [formControl]="valForm.controls['description']"
                            rows="5"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </p-panel>
          </div>
          <div class="panel-footer text-center">
            <button class="btn btn-info" type="button">Cancel</button>
            <button class="btn btn-success" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
