<div class="content-heading">Edit Customer
    <small>Partner : New</small>
  </div>
  <div class="container-fluid">
  <div class="row">
        <div class="col-md-12">
              <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                    <div class="panel-body">                        
                          <fieldset class="b0">
                                <legend>Partner Details</legend>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">                              
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-6">
                                                        <label>Name</label>
                                                        <input class="form-control" type="text" placeholder="Name..." />
                                                  </div>
                                                  <div class="col-xs-6">                                                
                                                        <div class="checkbox c-checkbox checkbox-inline">
                                                              <label>
                                                                    <input id="partner_customer" type="checkbox" value="customer" />
                                                                    <span class="fa fa-check"></span>Customer</label>
                                                        </div>
                                                        <div class="checkbox c-checkbox checkbox-inline">
                                                              <label>
                                                                    <input id="partner_supplier" type="checkbox" value="supplier" />
                                                                    <span class="fa fa-check"></span>Supplier</label>
                                                        </div>
                                                        <div class="checkbox c-checkbox checkbox-inline">
                                                              <label>
                                                                    <input id="partner_competitor" type="checkbox" value="competitor" />
                                                                    <span class="fa fa-check"></span>Competitor</label>
                                                        </div>
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                          <fieldset class="b0">
                                <legend>General Details</legend>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">                              
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>Legal Name</label>
                                                        <input class="form-control" type="text" placeholder="Legal Name..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Territory</label>
                                                        <select class="form-control" name="territory">
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                              <option>Option 4</option>
                                                        </select>
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>FAX No</label>   
                                                        <input class="form-control" type="text" placeholder="FAX No..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Website</label>
                                                        <input class="form-control" type="text" placeholder="Website ..." />
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">                              
                                      <div class="col-sm-12">
                                            <div class="row">                                                
                                                  <div class="col-xs-6">
                                                        <label>Remarks</label>
                                                        <textarea class="form-control" rows="2" id="remarks"></textarea>
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                          <fieldset class="b0">
                                <legend>Contact Details</legend>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>Title</label>
                                                        <select class="form-control" name="title">
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                              <option>Option 4</option>
                                                        </select>
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Name</label>
                                                        <input class="form-control" type="text" placeholder="Name..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Designation</label>   
                                                        <input class="form-control" type="text" placeholder="Designation..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Email</label>   
                                                        <input class="form-control" type="email" placeholder="Email..." />
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>Phone</label>
                                                        <input class="form-control" type="text" placeholder="Phone..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Mobile</label>
                                                        <input class="form-control" type="text" placeholder="Mobile..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Fax</label>   
                                                        <input class="form-control" type="text" placeholder="Fax..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Additional Notes</label>   
                                                        <textarea class="form-control" rows="2" id="additional_notes"></textarea>
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                          <fieldset class="b0">
                                <legend>Legal Details</legend>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>GST Registration Type</label>
                                                        <select class="form-control" name="gst_reg_type">
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                              <option>Option 4</option>
                                                        </select>
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>GSTIN</label>
                                                        <input class="form-control" type="text" placeholder="GSTIN..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>TIN No</label>   
                                                        <input class="form-control" type="text" placeholder="TIN No..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>PAN No</label>   
                                                        <input class="form-control" type="email" placeholder="PAN No..." />
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>CST No</label>
                                                        <input class="form-control" type="text" placeholder="CST No..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>CIN No</label>
                                                        <input class="form-control" type="text" placeholder="CIN No..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Supplier Code</label>   
                                                        <input class="form-control" type="text" placeholder="Supplier Code..." />
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                          <fieldset class="b0">
                                <legend>Customer Details</legend>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>Group</label>
                                                        <input class="form-control" type="text" placeholder="Group..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Sales Rep</label>
                                                        <select class="form-control" name="sales_rep">
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                              <option>Option 4</option>
                                                        </select>
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Collection Rep</label>
                                                        <select class="form-control" name="collection_rep">
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                              <option>Option 4</option>
                                                        </select>
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Price List</label>   
                                                        <select class="form-control" name="price_list">
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                              <option>Option 4</option>
                                                        </select>
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>Credit Period(Days)</label>
                                                        <input class="form-control" type="text" placeholder="Credit Period(Days)..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Credit Limit</label>
                                                        <input class="form-control" type="text" placeholder="Credit Limit..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Receivable Account</label>   
                                                        <input class="form-control" type="text" placeholder="Receivable Account..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Payment Terms</label>   
                                                        <input class="form-control" type="text" placeholder="Payment Terms..." />
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>Mode Of Despatch</label>
                                                        <input class="form-control" type="text" placeholder="Mode Of Despatch..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Freight</label>
                                                        <input class="form-control" type="text" placeholder="Freight..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Industry</label>
                                                        <select class="form-control" name="price_list">
                                                              <option>Option 1</option>
                                                              <option>Option 2</option>
                                                              <option>Option 3</option>
                                                              <option>Option 4</option>
                                                        </select>
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>
                    </div>
  
  
                    <div class="panel-footer text-center">
                          <button class="btn btn-info" type="submit">Save</button>
                    </div>
              </div>
              <!-- END panel-->
              </form>
        </div>
  </div>
  <!-- END row-->
  
  </div>