<div class="content-heading">Currency Exchange Rate
    <a [routerLink]="'/share/accounts/masters/currency-exchange-rates/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                  <div class="panel-body">
                    <fieldset class="b0">
                        <legend>Currency Details</legend>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">                              
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <label>Currency Name</label>
                                        <ng-select formControlName="currency_name" [formControl]="valForm.controls['currency_name']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Currency Name Selected">
                                        </ng-select>
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Rate</label>
                                        <ng-select formControlName="currency_name" [formControl]="valForm.controls['currency_name']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Currency Name Selected">
                                        </ng-select>
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Effective Date</label>
                                        <input class="form-control" type="date" formControlName="effective_date" [formControl]="valForm.controls['effective_date']" />
                                        <span class="text-danger" *ngIf="valForm.controls['effective_date'].hasError('effective_date') && (valForm.controls['effective_date'].dirty || valForm.controls['effective_date'].touched)">Enter a valid date</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>                        
                  </div>
                  <div class="panel-footer text-center">
                    <button class="btn btn-info" type="submit">Submit</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
  
