<div class="content-heading">Edit Expense Requests
    <small>Expense Requests : </small>
  </div>
  <div class="container-fluid">
  <div class="row">
        <div class="col-md-12">
              <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                    <div class="panel-body">                        
                      <fieldset class="b0">
                            <legend>Expense Details</legend>
                      </fieldset>
                      <fieldset>
                            <div class="form-group">                              
                                  <div class="col-sm-12">
                                        <div class="row">
                                              <div class="col-xs-3">
                                                    <label>Date</label>
                                                    <input class="form-control" type="text" placeholder="Date..." />
                                              </div>
                                              <div class="col-xs-3">
                                                    <label>Employee</label>
                                                    <input class="form-control" type="text" placeholder="Employee..." />
                                              </div>  
                                              <div class="col-xs-3">
                                                    <label>Project Name</label>
                                                    <input class="form-control" type="text" placeholder="Project Name..." />
                                              </div>
                                              <div class="col-xs-3">
                                                    <label>Service Call No</label>   
                                                    <input class="form-control" type="text" placeholder="Service Call No..." />
                                              </div>
                                        </div>                                    
                                  </div>
                            </div>
                      </fieldset>
                      <fieldset>
                            <div class="form-group">                              
                                  <div class="col-sm-12">
                                        <div class="row">
                                              <div class="col-xs-3">
                                                    <label>Customer</label>
                                                    <input class="form-control" type="text" placeholder="Customer..." />
                                              </div>
                                              <div class="col-xs-3">
                                                    <label>Currency</label>
                                                    <select class="form-control" name="currency">
                                                          <option>Option 1</option>
                                                          <option>Option 2</option>
                                                          <option>Option 3</option>
                                                          <option>Option 4</option>
                                                    </select>
                                              </div>  
                                              <div class="col-xs-3">
                                                    <label>Advance Amount</label>
                                                    <input class="form-control" type="text" placeholder="Advance Amount..." />
                                              </div>
                                              <div class="col-xs-3">
                                                    <label>Remarks</label>   
                                                    <textarea class="form-control" rows="2" id="additional_notes"></textarea>
                                              </div>
                                        </div>                                    
                                  </div>
                            </div>
                      </fieldset>
                      <fieldset class="b0">
                            <legend>Expense Item Details</legend>
                      </fieldset>
                      <fieldset class="b0">
                            <legend>Settlement Details</legend>
                      </fieldset>
                    </div>
  
  
                    <div class="panel-footer text-center">
                          <button class="btn btn-info" type="submit">Save</button>
                    </div>
              </div>
              <!-- END panel-->
              </form>
        </div>
  </div>
  <!-- END row-->
  
  </div>