<div class="content-heading">Create Purchase Orders
  <small>Purchase Orders : New</small>
</div>
<div class="container-fluid">
<div class="row">
      <div class="col-md-12">
            <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
            <!-- START panel-->
            <div class="panel panel-default">
                  <div class="panel-body">                        
                    <fieldset class="b0">
                          <legend>Purchase Order Details</legend>
                    </fieldset>
                    <fieldset>
                          <div class="form-group">                              
                                <div class="col-sm-12">
                                      <div class="row">
                                        <div class="col-xs-3">
                                              <label>Supplier</label>
                                              <input class="form-control" type="text" placeholder="Supplier..." />
                                        </div>
                                        <div class="col-xs-3">
                                              <label>Supplier Quote No</label>
                                              <input class="form-control" type="text" placeholder="Supplier Quote No..." />
                                        </div>
                                        <div class="col-xs-3">
                                              <label>Supplier's Reference</label>
                                              <input class="form-control" type="text" placeholder="Supplier's Reference..." />
                                        </div>
                                        <div class="col-xs-3">
                                              <label>Production Order</label>
                                              <select class="form-control" name="currency">
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                              </select>
                                        </div>
                                      </div>
                                </div>
                          </div>
                    </fieldset>
                    <fieldset>
                          <div class="form-group">                              
                                <div class="col-sm-12">
                                      <div class="row">     
                                            <div class="col-xs-3">
                                                  <label>Sales Order No</label>
                                                  <input class="form-control" type="text" placeholder="Sales Order No..." />
                                            </div>                                        
                                            <div class="col-xs-3">
                                                  <label>Warehouse</label>
                                                  <select class="form-control" name="currency">
                                                        <option>Option 1</option>
                                                        <option>Option 2</option>
                                                        <option>Option 3</option>
                                                        <option>Option 4</option>
                                                  </select>
                                            </div> 
                                            <div class="col-xs-3">
                                                  <label>PO Date</label>
                                                  <input class="form-control" type="text" placeholder="PO Date..." />
                                            </div>
                                            <div class="col-xs-3">
                                                  <label>Project Name</label>
                                                  <input class="form-control" type="text" placeholder="Project Name..." />
                                            </div>
                                      </div>                                    
                                </div>
                          </div>
                    </fieldset>
                    <fieldset>
                          <div class="form-group">                              
                                <div class="col-sm-12">
                                      <div class="row">
                                            <div class="col-xs-3">
                                                  <label>Delivery Date</label>
                                                  <input class="form-control" type="text" placeholder="Delivery Date..." />
                                            </div>  
                                            <div class="col-xs-3">
                                                  <label>Credit Period (Days)</label>
                                                  <input class="form-control" type="text" placeholder="Credit Period..." />
                                            </div>                                      
                                            <div class="col-xs-3">
                                                  <label>Our Contact Person</label>
                                                  <select class="form-control" name="currency">
                                                        <option>Option 1</option>
                                                        <option>Option 2</option>
                                                        <option>Option 3</option>
                                                        <option>Option 4</option>
                                                  </select>
                                            </div>                                            
                                            <div class="col-xs-3">
                                                  <label>Our Mobile</label>
                                                  <input class="form-control" type="text" placeholder="Our Mobile..." />
                                            </div>
                                            
                                      </div>                                    
                                </div>
                          </div>
                    </fieldset>                    
                    <fieldset>
                          <div class="form-group">                              
                                <div class="col-sm-12">
                                      <div class="row">                                                                                        
                                            <div class="col-xs-3">
                                                  <label>Supplier Contact Person</label>
                                                  <input class="form-control" type="text" placeholder="Supplier Contact Person..." />
                                            </div>
                                            <div class="col-xs-3">
                                                  <label>Supplier Email</label>
                                                  <input class="form-control" type="text" placeholder="Supplier Email..." />
                                            </div>
                                            <div class="col-xs-3">
                                                  <label>Supplier Mobile</label>
                                                  <input class="form-control" type="text" placeholder="Supplier Mobile..." />
                                            </div>
                                            <div class="col-xs-3">
                                                  <label>Billing Address</label>
                                                  <textarea class="form-control note-editor" formControlName="contactnumber" [formControl]="supplierForm.controls['contactnumber']"
                        rows="5"></textarea>
                                            </div>
                                      </div>                                    
                                </div>
                          </div>
                    </fieldset>
                    <fieldset class="b0">
                          <legend>Item Details</legend>
                    </fieldset>
                    <fieldset class="b0">
                          <legend>Terms and Conditions</legend>
                    </fieldset>
                    <fieldset>
                      <div class="form-group">                              
                            <div class="col-sm-12">
                                  <div class="row">
                                        <div class="col-xs-3">
                                              <label>Terms and Conditions</label>
                                              <select class="form-control" name="currency">
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                              </select>
                                        </div>
                                  </div>                                    
                            </div>
                      </div>
                  </fieldset>                    
                </div>


                  <div class="panel-footer text-center">
                        <button class="btn btn-info" type="submit">Save</button>
                  </div>
            </div>
            <!-- END panel-->
            </form>
      </div>
</div>
<!-- END row-->

</div>