<div class="content-heading">Accounts Followup
  <a [routerLink]="'/share/accounts/transactions/accounts-followup/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
<!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
<div class="row">
    <div class="col-md-12">
        <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-body">
                    <fieldset class="b0">
                        <legend>Accounts Followup Details</legend>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" formControlName="title" [formControl]="valForm.controls['title']" />
                                <span class="text-danger" *ngIf="valForm.controls['title'].hasError('required') && (valForm.controls['title'].dirty || valForm.controls['title'].touched)">This field is required</span>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Partner</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" formControlName="partner" [formControl]="valForm.controls['partner']" />
                                <span class="text-danger" *ngIf="valForm.controls['partner'].hasError('required') && (valForm.controls['partner'].dirty || valForm.controls['partner'].touched)">This field is required</span>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Company</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" formControlName="company" [formControl]="valForm.controls['company']" />
                                <span class="text-danger" *ngIf="valForm.controls['company'].hasError('required') && (valForm.controls['company'].dirty || valForm.controls['company'].touched)">This field is required</span>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Account</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" formControlName="account" [formControl]="valForm.controls['account']" />
                                <span class="text-danger" *ngIf="valForm.controls['account'].hasError('required') && (valForm.controls['account'].dirty || valForm.controls['account'].touched)">This field is required</span>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Account</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" formControlName="account" [formControl]="valForm.controls['account']" />
                                <span class="text-danger" *ngIf="valForm.controls['account'].hasError('required') && (valForm.controls['account'].dirty || valForm.controls['account'].touched)">This field is required</span>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Remarks</label>
                            <div class="col-sm-10">
                                <div class="panel">
                                    <div class="panel-body mh0">
                                        <textarea class="form-control note-editor" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Due Date</label>
                            <div style="display:inline-block; min-height:250px;" class="col-sm-4">
                              <datepicker formControlName="due_date" [formControl]="valForm.controls['due_date']" [minDate]="minDate" [showWeeks]="true"></datepicker>
                          </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group mb">
                            <label class="col-sm-2 control-label">Assigned To</label>
                            <div class="col-sm-10">
                                <ng-select formControlName="assigned_to" [formControl]="valForm.controls['assigned_to']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No assigned Selected">
                                </ng-select>
                            </div>
                        </div>
                      </fieldset>
                      <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Outcome</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" formControlName="outcome" [formControl]="valForm.controls['outcome']" />
                                <span class="text-danger" *ngIf="valForm.controls['outcome'].hasError('required') && (valForm.controls['outcome'].dirty || valForm.controls['outcome'].touched)">This field is required</span>
                            </div>
                        </div>
                    </fieldset>       
                </div>
                <div class="panel-footer text-center">
                  <button class="btn btn-info" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>