<div class="content-heading">Tax Types Details
    <a [routerLink]="'/share/accounts/masters/tax-types/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                  <div class="panel-body">
                    <fieldset class="b0">
                        <legend>Tax Types Details</legend>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">                              
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label>Name</label>
                                        <input class="form-control" type="text" formControlName="name" [formControl]="valForm.controls['name']" />
                                        <span class="text-danger" *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">This field is required</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Description</label>
                                        <textarea class="panel panel-body mh0 form-control note-editor" formControlName="description" [formControl]="valForm.controls['description']" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                  </div>
                  <div class="panel-footer text-center">
                    <button class="btn btn-info" type="submit">Submit</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
  
