<div class="content-heading">Item Categories : New
  <a [routerLink]="'/share/stock/masters/item-categories/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <div class="panel panel-default">
          <div class="panel-body">
            <p-panel header="Item Categories Details">
              <fieldset>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left">Name</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="category_name" [formControl]="valForm.controls['category_name']"
                      />
                      <span class="text-danger" *ngIf="valForm.controls['category_name'].hasError('required') && (valForm.controls['category_name'].dirty || valForm.controls['category_name'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="col-lg-12">
                    <div class="checkbox c-checkbox needsclick">
                      <label class="needsclick">
                        <input class="needsclick" type="checkbox" formControlName="active" [formControl]="valForm.controls['active']" value="" />
                        <span class="fa fa-check"></span>Active</label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </p-panel>

          </div>
          <div class="panel-footer text-center">
            <button class="btn btn-info" type="button">Cancel</button>
            <button class="btn btn-success" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
