<div class="content-heading">Warehouse Details : New
  <a [routerLink]="'/share/stock/masters/warehouse/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <div class="panel panel-default">
          <div class="panel-body">
            <p-panel header="Warehouse Details">
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Name</label>
                    <div class="col-sm-10">
                      <input class="form-control" type="text" formControlName="name" [formControl]="valForm.controls['name']" />
                      <span class="text-danger" *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Account</label>
                    <div class="col-sm-10">
                      <ng-select formControlName="account" [formControl]="valForm.controls['account']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                        (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Account Selected">
                      </ng-select>
                      <span class="text-danger" *ngIf="valForm.controls['account'].hasError('required') && (valForm.controls[account].dirty || valForm.controls['account'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Address</label>
                    <div class="col-sm-10">
                      <div class="panel">
                        <div class="panel-body mh0">
                          <textarea class="form-control note-editor" formControlName="address" [formControl]="valForm.controls['address']" rows="5"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Contact Person</label>
                    <div class="col-sm-10">
                      <input class="form-control" formControlName="contact_person" [formControl]="valForm.controls['contact_person']" type="text"
                      />
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Contact Number</label>
                    <div class="col-sm-10">
                      <input class="form-control" type="text" formControlName="contact_number" [formControl]="valForm.controls['contact_number']"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Additional Notes</label>
                    <div class="col-sm-10">
                      <div class="panel">
                        <div class="panel-body mh0">
                          <textarea class="form-control note-editor" rows="5" formControlName="notes" [formControl]="valForm.controls['notes']"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </p-panel>


          </div>
          <div class="panel-footer text-center">
            <button class="btn btn-info" type="button">Cancel</button>
            <button class="btn btn-success" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
