<div class="content-heading">Payment Mode Details
    <a [routerLink]="'/share/accounts/masters/payment-modes/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
    <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <fieldset class="b0">
                            <legend>Payment Mode Details</legend>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">                              
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <label>Name</label>
                                            <input class="form-control" type="text" formControlName="name" [formControl]="valForm.controls['name']" />
                                            <span class="text-danger" *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">This field is required</span>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>Account</label>
                                            <ng-select formControlName="account" [formControl]="valForm.controls['account']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Account Selected">
                                            </ng-select>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>Allow Payment</label><br/>
                                            <label class="checkbox-inline c-checkbox">
                                            <input type="checkbox" value="true" formControlName="allow_payment" [formControl]="valForm.controls['allow_payment']"/>
                                            <span class="fa fa-check"></span></label>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>Allow Receipt</label><br/>
                                            <label class="checkbox-inline c-checkbox">
                                            <input type="checkbox" value="true" formControlName="allow_receipt" [formControl]="valForm.controls['allow_receipt']"/>
                                            <span class="fa fa-check"></span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">                              
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label>Description</label>
                                            <textarea class="panel panel-body mh0 form-control note-editor" formControlName="description" [formControl]="valForm.controls['description']" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">                              
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label>Is Active</label><br/>
                                            <label class="checkbox-inline c-checkbox">
                                            <input type="checkbox" value="true" formControlName="is_active" [formControl]="valForm.controls['is_active']"/>
                                            <span class="fa fa-check"></span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="panel-footer text-center">
                    <button class="btn btn-info" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>    