<div class="content-heading">Company Details
    <a [routerLink]="'/share/accounts/masters/companies/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                  <div class="panel-body">
                      <fieldset class="b0">
                          <legend>Add</legend>
                      </fieldset>
                      <fieldset>
                            <div class="form-group">                              
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label>Name</label>
                                            <input class="form-control" type="text" formControlName="name" [formControl]="valForm.controls['name']" />
                                            <span class="text-danger" *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">This field is required</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <label>Legal Name</label>
                                            <input class="form-control" type="text" formControlName="legal_name" [formControl]="valForm.controls['legal_name']" />
                                            <span class="text-danger" *ngIf="valForm.controls['legal_name'].hasError('required') && (valForm.controls['legal_name'].dirty || valForm.controls['legal_name'].touched)">This field is required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </fieldset>
                      <fieldset>
                            <div class="form-group">                              
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <label>Default Company</label><br/>
                                            <label class="checkbox-inline c-checkbox">
                                            <input type="checkbox" value="true" formControlName="default_company" [formControl]="valForm.controls['default_company']"/>
                                            <span class="fa fa-check"></span></label>
                                        </div>
                                        <div class="col-xs-3">
                                            <label>Use Excise</label><br/>
                                            <label class="checkbox-inline c-checkbox">
                                            <input type="checkbox" value="true" formControlName="use_excise" [formControl]="valForm.controls['use_excise']"/>
                                            <span class="fa fa-check"></span></label>
                                        </div>
                                        <div class="col-xs-6">
                                            <label>Excise Type</label><br/>
                                            <ng-select formControlName="excise_type" [formControl]="valForm.controls['excise_type']" [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Excise Type Selected">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </fieldset>     
                  </div>
                  <div class="panel-footer text-center">
                    <button class="btn btn-info" type="submit">Submit</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
  
