<div class="content-heading">Item Masters
  <a [routerLink]="'/share/stock/masters/item-master/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <div class="panel panel-default">
          <div class="panel-body">
            <p-panel header="General">
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Name</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="name" [formControl]="valForm.controls['name']" />
                      <span class="text-danger" *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Product</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="product_type" [formControl]="valForm.controls['product_type']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Type Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Bar Code</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="barcode" [formControl]="valForm.controls['barcode']" />
                      <span class="text-danger" *ngIf="valForm.controls['barcode'].hasError('required') && (valForm.controls['barcode'].dirty || valForm.controls['barcode'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">HSN/SAC Code</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="hsn_sac_code" [formControl]="valForm.controls['hsn_sac_code']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Code Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Commodity Tariff</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="commodity_tariff" [formControl]="valForm.controls['commodity_tariff']"
                      />
                      <span class="text-danger" *ngIf="valForm.controls['commodity_tariff'].hasError('required') && (valForm.controls['commodity_tariff'].dirty || valForm.controls['commodity_tariff'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Tariff Code</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="tariff_code" [formControl]="valForm.controls['tariff_code']" />
                      <span class="text-danger" *ngIf="valForm.controls['tariff_code'].hasError('required') && (valForm.controls['tariff_code'].dirty || valForm.controls['tariff_code'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Category</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="category" [formControl]="valForm.controls['category']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                        (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Code Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Group</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="group" [formControl]="valForm.controls['group']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                        (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Code Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">UOM Group</label>
                    <div class="col-sm-10">
                      <ng-select formControlName="uom_group" [formControl]="valForm.controls['uom_group']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Code Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Stock UOM</label>
                    <div class="col-sm-10">
                      <ng-select formControlName="stock_uom" [formControl]="valForm.controls['stock_uom']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Code Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <div class="col-sm-12">
                      <div class="checkbox c-checkbox needsclick">
                        <label class="needsclick">
                          <input class="needsclick" type="checkbox" formControlName="keep_stock" [formControl]="valForm.controls['keep_stock']" value=""
                          />
                          <span class="fa fa-check"></span>Keep Stock</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <div class="col-sm-12">
                      <div class="checkbox c-checkbox needsclick">
                        <label class="needsclick">
                          <input class="needsclick" type="checkbox" value="" formControlName="item_production" [formControl]="valForm.controls['item_production']"
                          />
                          <span class="fa fa-check"></span>Allow Production</label>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <div class="col-sm-12">
                      <div class="checkbox c-checkbox needsclick">
                        <label class="needsclick">
                          <input class="needsclick" type="checkbox" value="" formControlName="allow_backorder" [formControl]="valForm.controls[allow_backorder]"
                          />
                          <span class="fa fa-check"></span>Allow Backorder</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <div class="col-sm-12">
                      <div class="checkbox c-checkbox needsclick">
                        <label class="needsclick">
                          <input class="needsclick" type="checkbox" value="" formControlName="sales_item" [formControl]="valForm.controls['sales_item']"
                          />
                          <span class="fa fa-check"></span>Sales Item</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <div class="col-sm-12">
                      <div class="checkbox c-checkbox needsclick">
                        <label class="needsclick">
                          <input class="needsclick" type="checkbox" value="" formControlName="purchase_item" [formControl]="valForm.controls['purchase_item']"
                          />
                          <span class="fa fa-check"></span>Purchase Item</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Equipment Item</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="equipment_item" [formControl]="valForm.controls['equipment_item']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Code Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </fieldset>
            </p-panel>
          </div>
          <div class="panel-footer text-center">
            <button class="btn btn-info" type="button">Cancel</button>
            <button class="btn btn-success" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
