<div class="content-heading">Receipt Notes
  <a [routerLink]="'/share/stock/transaction/delivery-notes/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <div class="panel panel-default">
          <div class="panel-body">
            <p-panel header="Receipt Notes Details">
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Suppliers</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="supplier" [formControl]="valForm.controls['supplier']" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Supplier Reference No</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="reference_no" [formControl]="valForm.controls['reference_no']" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Warehouse</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="warehouse" [formControl]="valForm.controls['warehouse']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Reason Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Reason</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="reason" [formControl]="valForm.controls['reason']" [allowClear]="true" [items]="reasons" (data)="refreshValue($event)"
                        (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Reason Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Receipt Notes Date</label>
                    <div class="col-sm-12">
                        <p-calendar formControlName="receipt_date" [formControl]="valForm.controls['receipt_date']" showButtonBar="true"></p-calendar>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Contact Person</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="contact_person" [formControl]="valForm.controls['contact_person']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Code Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Email</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="email" [formControl]="valForm.controls['email']" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Phone</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="phone" [formControl]="valForm.controls['phone']" />
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Mobile</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="mobile" [formControl]="valForm.controls['mobile']" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Billing Address</label>
                    <div class="col-sm-12">
                      <div class="panel">
                        <div class="panel-body mh0">
                          <textarea class="form-control note-editor" formControlName="billing_address" [formControl]="valForm.controls['billing_address']"
                            rows="5"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Supplier Address</label>
                    <div class="col-sm-12">
                      <div class="panel">
                        <div class="panel-body mh0">
                          <textarea class="form-control note-editor" formControlName="supplier_address" [formControl]="valForm.controls['supplier_address']"
                            rows="5"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Dispatch Through</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" formControlName="dispatch_through" [formControl]="valForm.controls['dispatch_through']">
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Vehicle Number</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" formControlName="vehicle_no" [formControl]="valForm.controls['vehicle_no']">
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">E-Way Bill No</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" formControlName="bill_no" [formControl]="valForm.controls['bill_no']" />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Remarks</label>
                    <div class="col-sm-12">
                      <div class="panel">
                        <div class="panel-body mh0">
                          <textarea class="form-control note-editor" formControlName="remarks" [formControl]="valForm.controls['remarks']" rows="5"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </fieldset>
            </p-panel>
            <br/>
            <p-panel header="Item Details">

            </p-panel>
            <br/>
            <p-panel header="Forms to Issue / Receive">

            </p-panel>

          </div>
          <div class="panel-footer text-center">
            <button class="btn btn-info" type="button">Cancel</button>
            <button class="btn btn-success" type="submit">Submit</button>
            <button class="btn btn-success" type="button">Save</button>
            <button class="btn btn-success" type="button">Approve</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
