<div class="content-heading">
    Departments
    <a [routerLink]="'/share/hr/masters/departments/create'" class="btn btn-primary btn-sm pull-right" type="button">Add Department</a>
  </div>
  
  <p-table #dt [value]="cars" [columns]="cols" selectionMode="single" [(selection)]="selectedCars" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
      <div style="text-align: right">        
          <i class="fa fa-search" style="margin:4px 4px 14px 0"></i>
          <input type="text" pInputText size="40" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </div>
      <div class="ui-helper-clearfix">
          <button type="button" class="mb-sm btn btn-sm btn-green" pButton (click)="dt.exportCSV()" style="float:left">Export All</button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width : 5%">#</th>
            <th>Name</th>
            <th>Active</th>
        </tr>
        <tr>
          <th><input pInputText class="form-control" type="text" (input)="dt.filter($event.target.value, 'id', 'contains')"></th>
          <th><input pInputText class="form-control" type="text" (input)="dt.filter($event.target.value, 'name', 'contains')"></th>
          <th><input pInputText class="form-control" type="text" (input)="dt.filter($event.target.value, 'active', 'contains')"></th>          
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
  </p-table>