<div class="content-heading">Create Timesheets
    <small>Timesheets : New</small>
  </div>
  <div class="container-fluid">
  <div class="row">
        <div class="col-md-12">
              <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                    <div class="panel-body">                        
                          <fieldset class="b0">
                                <legend>Timesheets Details</legend>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">                              
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>Employee</label>
                                                        <input class="form-control" type="text" placeholder="Employee..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Start Date Time</label>
                                                        <input class="form-control" type="text" placeholder="Start Date Time..." />
                                                  </div>  
                                                  <div class="col-xs-3">
                                                        <label>End Date Time</label>
                                                        <input class="form-control" type="text" placeholder="End Date Time..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Time Spent</label>
                                                        <input class="form-control" type="text" placeholder="Time Spent..." />
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>                        
                          <fieldset>
                            <div class="form-group">                              
                                  <div class="col-sm-12">
                                        <div class="row">
                                              <div class="col-xs-3">
                                                    <label>Activity Type</label>
                                                    <select class="form-control" name="currency">
                                                          <option>Option 1</option>
                                                          <option>Option 2</option>
                                                          <option>Option 3</option>
                                                          <option>Option 4</option>
                                                    </select>                                                    
                                              </div>
                                              <div class="col-xs-3">
                                                  <label>Reason</label>   
                                                  <textarea class="form-control" rows="2" id="additional_notes"></textarea>
                                              </div>                                              
                                        </div>                                    
                                  </div>
                            </div>
                        </fieldset>
                    </div>
  
  
                    <div class="panel-footer text-center">
                          <button class="btn btn-info" type="submit">Save</button>
                    </div>
              </div>
              <!-- END panel-->
              </form>
        </div>
  </div>
  <!-- END row-->
  
  </div>