<div class="content-heading">Journal Voucher
  <a [routerLink]="'/share/accounts/transactions/journal-vouchers/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <p-panel header="Journal Voucher Details" [toggleable]="true">
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-4">
                    <label>Date</label>
                    <input class="form-control" type="date" formControlName="date" [formControl]="valForm.controls['date']" />
                    <span class="text-danger" *ngIf="valForm.controls['date'].hasError('date') && (valForm.controls['date'].dirty || valForm.controls['date'].touched)">Enter a valid date</span>
                  </div>
                  <div class="col-xs-4">
                    <label>Partner</label>
                    <ng-select formControlName="partner" [formControl]="valForm.controls['partner']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                      (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Partner Selected">
                    </ng-select>
                  </div>
                  <div class="col-xs-4">
                    <label>Currency</label>
                    <ng-select formControlName="currency" [formControl]="valForm.controls['currency']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                      (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Currency Selected">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-xs-8">
                    <label>Remarks</label>
                    <textarea class="panel panel-body mh0 form-control note-editor" formControlName="remarks" [formControl]="valForm.controls['remarks']"
                      rows="5"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </p-panel>
        <div class="panel-footer text-center">
          <button class="btn btn-info" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
