<div class="content-heading">Stock In Out Reason Code
  <a [routerLink]="'/share/stock/masters/stk-io-rsn/list'" class="pull-right btn btn-primary btn-lg" type="button">Back</a>
  <!-- <small>Native Angular input validation</small> -->
</div>
<!-- START row-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
        <!-- START panel-->
        <div class="panel panel-default">
          <div class="panel-body">
            <p-panel header="Reason Code Details">
              <fieldset>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">In or Out</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="in_out" [formControl]="valForm.controls['in_out']" [allowClear]="true" [items]="items" (data)="refreshValue($event)"
                        (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No Account Selected">
                      </ng-select>
                      <span class="text-danger" *ngIf="valForm.controls['in_out'].hasError('required') && (valForm.controls['in_out'].dirty || valForm.controls['in_out'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="col-sm-12 control-label" style="text-align:left;">Reason</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" formControlName="reason" [formControl]="valForm.controls['reason']" />
                      <span class="text-danger" *ngIf="valForm.controls['reason'].hasError('required') && (valForm.controls['reason'].dirty || valForm.controls['reason'].touched)">This field is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group mb">
                    <label class="col-sm-12 control-label" style="text-align:left;">Account Name</label>
                    <div class="col-sm-12">
                      <ng-select formControlName="account_name" [formControl]="valForm.controls['account_name']" [allowClear]="true" [items]="items"
                        (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)"
                        placeholder="No Account Selected">
                      </ng-select>
                    </div>
                  </div>
                </div>

              </fieldset>
            </p-panel>

          </div>
          <div class="panel-footer text-center">
            <button class="btn btn-info" type="button">Submit</button>
            <button class="btn btn-success" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
