<div class="content-heading">Create Tax Exemptions
    <small>Tax Exemptions : New</small>
  </div>
  <div class="container-fluid">
  <div class="row">
        <div class="col-md-12">
              <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
              <!-- START panel-->
              <div class="panel panel-default">
                    <div class="panel-body">                        
                          <fieldset class="b0">
                                <legend>Tax Exemptions Details</legend>
                          </fieldset>
                          <fieldset>
                                <div class="form-group">                              
                                      <div class="col-sm-12">
                                            <div class="row">
                                                  <div class="col-xs-3">
                                                        <label>Employee</label>
                                                        <input class="form-control" type="text" placeholder="Employee..." />
                                                  </div>
                                                  <div class="col-xs-3">
                                                        <label>Category</label>
                                                        <input class="form-control" type="text" placeholder="Category..." />
                                                  </div>  
                                                  <div class="col-xs-3">
                                                        <label>Start Date</label>
                                                        <input class="form-control" type="text" placeholder="Start Date..." />
                                                  </div>  
                                                  <div class="col-xs-3">
                                                        <label>Year Ending</label>
                                                        <input class="form-control" type="text" placeholder="Year Ending..." />
                                                  </div>
                                            </div>                                    
                                      </div>
                                </div>
                          </fieldset>                        
                          <fieldset>
                            <div class="form-group">                              
                                  <div class="col-sm-12">
                                        <div class="row">
                                              <div class="col-xs-3">
                                                    <label>Verified Value</label>
                                                    <input class="form-control" type="text" placeholder="Verified Value..." />
                                              </div>                                              
                                        </div>                                    
                                  </div>
                            </div>
                        </fieldset>
                    </div>
  
  
                    <div class="panel-footer text-center">
                          <button class="btn btn-info" type="submit">Save</button>
                    </div>
              </div>
              <!-- END panel-->
              </form>
        </div>
  </div>
  <!-- END row-->
  
  </div>